/*#footer================== */
footer{
    background-color:  map-get($colors ,bg-footer);
    padding-top: 5rem;
    padding: 5rem 3rem 5rem 3rem;
    width: 100%;

    .wrap-l-footer{
        max-width: 1140px;
        margin: auto;
    
        .title{
            font-weight: normal;
            font-size: 20px;
            text-align: left;
            margin-top: 2rem;
            color: map-get($colors , main );
            margin-left: -1rem;
            margin-right: 1rem;
        
        }


        
        .copyright a{
            color:  map-get($colors ,btn1);
            text-decoration: none;
            font-size: 18px;

        }


        @media screen and (min-width: map-get($breakpoint, md)) {
            .news{
                margin-left: -2rem;
        
            }
        }
        @media screen and (min-width: map-get($breakpoint, md)) {
            .follow{
                margin-left: 2rem;
        
            }
            
        }


        p{
            margin-left: -1rem;
            margin-right: 1rem;
            font-size: 14px;
            max-width: 200px;
        }


        @media screen and (min-width: map-get($breakpoint,lg)) {
            .title{
                padding-left: 2rem;
            }
            p{
                padding-left: 2rem;
                max-width: 400px;
                font-size: 18px;
                line-height: 2rem;
            }
        }


        
        form{

        .email{
            display: flex;
            justify-items: space-between;
            flex-direction: row;

            input{
                padding: 0.72rem;
                width: 12rem;
                max-height: 2rem;
                margin-left: -1rem;
                margin-top: 2rem;
                font-size: 14px;
                color:  map-get($colors ,btn1);
                border: solid 2px map-get($colors , btn1 );

                @media screen and (min-width: map-get($breakpoint, md)) {
                    padding: 0.5rem;
                    width: 12rem;
                    margin-left:-2rem;
                    margin-top: 2rem;
                    font-size: 18px;
                }
                @media screen and (min-width: map-get($breakpoint, lg)) {
                    
                    margin-left:0rem;
                    width: 18rem;
                    
                }
                
            }

            .lnr.lnr-arrow-right{
                
                font-size: 18px;
                max-height: 2rem;
                margin-top: 2rem;
                background-color:  map-get($colors ,btn1);
                color:  map-get($colors ,main);
                cursor: pointer;
                border: none;
                
                @media screen and (min-width: map-get($breakpoint, md)) {
                    
                }
                
            }
        }
        }

        .icone-social{
            margin-left: -4rem;

            @media screen and (min-width: map-get($breakpoint, md)) {
                margin-top: 1.2rem;
                margin-left: -1rem;
                
            }

            @media screen and (min-width: map-get($breakpoint, lg)) {
            
                margin-left: 2rem;
            }

        }
        
        .icone-social a{
            color:  map-get($colors ,main);
            text-decoration: none;
            font-size: 16px;
            margin-top: 3rem;
            margin-left: 3rem;
            margin-right: -2rem;
            padding-bottom: 5rem;

            @media screen and (min-width: map-get($breakpoint, md)) {
                
                
            }

            @media screen and (min-width: map-get($breakpoint, lg)) {
                font-size: 18px;
                margin-left: 3rem;
            }

        }

    }
}

    



