/********************section banner********************/
.section__banner{
    height: auto;
    background-color:map-get($colors , primary ) ;

    @media screen and (min-width: map-get($break-point, md)) {
        background-color:white;
    }

    .bg__banner{
        display: none;

        @media screen and (min-width: map-get($break-point, md)) {
            display: block;
            position: relative;
            width: 100%;
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            display: block;
            width: 90%;
        }
    }
    .header__lg{
        display: none;

        @media screen and (min-width: map-get($break-point, md)) {
            margin: -33rem auto auto 27rem;
            float: right;
            display: flex;
            justify-content: space-between;
            z-index:998;
            width: 50%;
            height: auto;
            position: absolute;
        }
        
        @media screen and (min-width: map-get($break-point, lg)) {
            margin: -44rem auto auto 40rem;
            float: right;
            display: flex;
            justify-content: space-between;
            z-index:998;
            width: 50%;
            height: auto;
            position: absolute;
        }
        
    }
    .header__mobile{
        margin-top: 3rem;
        z-index: 0;
        height: auto;
        @media screen and (min-width: map-get($break-point, md)) {
            display:none;
        }
    }
    .l-logo__sm{
        margin-top:-4rem;
        display:block;
        position: absolute;
        width: 50%;

        @media screen and (min-width: map-get($break-point, md)) {
            display:none;
        }
    }

    .l-logo__lg{
        margin-top: auto;
        display:block;
        position: absolute;
        width: 50%;

        @media screen and (min-width: map-get($break-point, md)) {
            display:block;
            position: absolute;
            width: 30%;
            margin: -32rem auto auto 8rem;
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            margin: -44rem auto auto 8rem;
        }
    }
    .point__banner{
        display: none;

        @media screen and (min-width: map-get($break-point, md)) {
            display:block;
            position: absolute;
            width: 20%;
            margin: -15rem auto auto 14rem;
        }

        @media screen and (min-width: map-get($break-point, lg)) {
            width: 20%;
            margin: -17rem auto auto 14rem;
        }
    }
    .txt__presentation{
        display: flex;
        flex-wrap: wrap-reverse;
        
        width: 70%;
        margin: -4rem auto auto 0rem;

        @media screen and (min-width: map-get($break-point, md)) {
            display:block;
            position: absolute;
            width: 120%;
            margin: 1rem auto auto auto;
            text-align: right;
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            margin: -4rem auto auto auto;
            text-align: right;
        }
        
    }

    .crl--blue{
        display: none;
        @media screen and (min-width: map-get($break-point, md)) {
            display: flex;
            position: relative;
            justify-content: left;
            margin: -12rem auto auto 8rem;
            color: white;
            text-align: center;

                ::before  {
                    content: ">";
                    color:map-get($colors , primaryGreen );
                }
        }

        @media screen and (min-width: map-get($break-point, lg)) {
            margin: -12rem auto auto 10rem;
        }
    }

        .btn__banner{
        
    
            @media screen and (min-width: map-get($break-point, md)) {

                margin:0;
                margin-right: 5rem;
                padding:auto 2rem auto 1rem;
                width: auto;
            }
            @media screen and (min-width: map-get($break-point, lg)) {
                padding:auto 2rem auto 1rem;
                width: 15rem;
            }
            
        }
        .txt--liner{
            color: white;
            text-align: center;
            line-height:2rem;
            
            margin: 2rem 2rem 2rem 2rem;
            padding-bottom: 2rem;
            span{
                border-bottom:  solid 2px #2999d1;
            }
    
            @media screen and (min-width: map-get($break-point, md)) {
                display:block;
                position: absolute;
                width: 20%;
                margin: -28rem auto auto 8rem;
                text-align: left;
                font-size: 17px;
            
                span{
                    border-bottom:  solid 2px #2999d1;
                }
                p{
                    margin-left: -3rem;
                }
            
            }
    
            @media screen and (min-width: map-get($break-point, lg)) {
                margin: -33rem auto auto 8rem;
            
            }   
        }
        
        
    }

/********************wrap page home********************/
.wrap{
max-width: 1124px;
height: auto;


/********************section detail********************/

.section__detail{
    min-height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    
    
    @media screen and (min-width: map-get($break-point, md)) {
        height: auto;
        margin-top: 10rem;

    }

    @media screen and (min-width: map-get($break-point, lg)) {
        background: none;
        height: auto;
        
        
        
    }
    
    .title__primary {
        font-style: italic;
        margin:3rem auto 1rem auto;
        text-align: left;
        color: map-get($colors,primary );
        width: 100%;
        font-size: 30px;


        span{
        border-bottom: solid 3px map-get($colors , primaryGreen);
        color: map-get($colors,primary ); 
        font-weight: bold;
        font-style: normal;
        }

    @media screen and (min-width: map-get($break-point, md)) {
        margin:1rem auto -4rem auto;
        font-size: 30px;
    }
    @media screen and (min-width: map-get($break-point, lg)) {
        margin:3rem auto auto 5rem;
        font-size: 30px;
        text-align: left;
        width: 20rem;
        line-height: 2rem;
    }

}
.crl--green {

    font-style: normal;
    width: 100%;
    
    margin:auto auto auto auto;
    text-align: left;
    color: map-get($colors , primary);
    line-height: 2rem;
    font-size: 20px;
    font-weight: bold;
    width: 100%;


        span{
            color: map-get($colors , primaryGreen);
            font-weight: normal;
        }


    @media screen and (min-width: map-get($break-point, md)) {
        margin: 7rem auto auto auto;
        font-size: 20px;

        
    }
    @media screen and (min-width: map-get($break-point, lg)) {
        margin:2rem auto 2rem 5rem;
        font-size: 24px;
        text-align: left;
        width:30rem;
        line-height: 2rem;
        
        
    }

}


.txt__liner--green-2{
    margin:1.5rem auto auto auto;
    text-align: center;
    text-align: left;
    color: map-get($colors,primary );
    width: auto;
    font-size: 20px;
    line-height: 2rem;



    span{
        border-bottom: solid 3px map-get($colors , primaryGreen);
        color: map-get($colors,primary ); 
        font-style: normal;
    }


    @media screen and (min-width: map-get($break-point, lg)) {
        margin:0rem auto auto 5rem;
        font-size: 20px;
        text-align: left;
        width: 30rem;
        
        line-height: 2rem;
    }


}


    .cadre__detail{

        .img__detail--mobile{

            justify-content: center;
            width: 90%;
            margin:2rem auto auto auto;
            height: auto;

    
            @media screen and (min-width: map-get($break-point, md)) {
            display: none;
            }
    
            @media screen and (min-width: map-get($break-point, lg)) {
                display: none;
                
            }
    
        }
        .img__detail--lg{

            display: none;
    
            @media screen and (min-width: map-get($break-point, md)) {
            display: none;
            }
    
            @media screen and (min-width: map-get($break-point, lg)) {
                display: block;
                width: 75%;
                float: right;
                margin-top: 6rem;
            }
    
        }

}
    .btn--detail{
       margin:4rem auto auto 18rem;
    }

}
/********************section logo********************/

.section__logo{
    min-height: auto;
    width: 90%;
    margin: auto; 
    padding-bottom:2rem ;


        @media screen and (min-width: map-get($break-point, md)) {
            height: auto;
            
        }

        @media screen and (min-width: map-get($break-point, lg)) {
            height: auto;
            width: auto;
            }
            
    .title__liner--green p{
        margin:0rem 1rem 2rem 1rem;
        color: map-get($colors,primary );
        width: 95%;
        font-size: 28px;
        line-height: 3rem;
    
        span{
            border-bottom: solid 3px map-get($colors , primaryGreen);
            color: map-get($colors,primary ); 
            font-style: normal;
        }

        @media screen and (min-width: map-get($break-point, md)) {
            margin:5rem auto auto 5rem;
            font-size: 30px;
            line-height: 2rem;
            width: auto;
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            margin:4.5rem auto 8rem 5rem;
            font-size: 30px;
            text-align: left;
            width: 30rem;
            
        }
    }
    .txt--blue {
        margin:1rem;
        color: map-get($colors,primary );
        width: 100%;
        font-size: 12px;
        line-height: 2rem;
        display: block;

        @media screen and (min-width: map-get($break-point, md)) {
            margin:2rem auto 5rem 20rem;
            width: 50%;
            
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            margin:-2rem auto 8rem 0rem;
            
        }
    }

    .cadre__logo img{
        width: 90%;
        margin: 1rem;
        @media screen and (min-width: map-get($break-point, md)) {
            margin:10rem auto auto auto;
            width:45rem;
            display: block;
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            width: 60rem;
            margin: 8rem auto auto auto;
        }
    }

    .content__logo{

        width: 100%;
        margin:auto auto auto auto;
        text-align: center;

        @media screen and (min-width: map-get($break-point, md)) {
            margin:-5rem auto auto auto;
        }
        @media screen and (min-width: map-get($break-point, lg)) {
            margin:-6rem auto auto auto;
        }

        .logo__partners{
            width: 4rem;
            height: auto;
            margin: 0;
            border-color:3px solid map-get($colors,primary ); 
            

            
            &:hover{
                border:2px solid map-get($colors,primary );
                border-radius: 15px;
                transform: scale(1.2); 
                
            }
            @media screen and (min-width: map-get($break-point, md)) {
                width: 5rem;
                
                margin:-5rem 1rem 3rem 1rem;
            }
            @media screen and (min-width: map-get($break-point, lg)) {
                width: 9rem;

                margin:-10rem 1rem 3rem 1rem;
                
            &:hover{
                border:2px solid map-get($colors,primary );
                border-radius: 15px;
                transform: scale(1.5); 
                
            }
            }

            
        }
    }
    
}

/********************section creations********************/
.section__creation{
    height: auto;
    width: 100%;
    margin-top: 2rem;

    @media screen and (min-width: map-get($break-point, md)) {
        height: auto;
        
    }
    @media screen and (min-width: map-get($break-point, lg)) {
        height: auto;
        
    }

    .cadres{
        .cadre__creation{
            display:none;
        
            @media screen and (min-width: map-get($break-point, md)) {
                
                display: none;
                
            }
            @media screen and (min-width: map-get($break-point, lg)) {
                margin:0rem 0 auto auto;
                display: block;
                width: 90%;
                height: 40rem;
                

            }

        }

        .cadre__creation--mobile{

            width:100%;
            margin:-4rem auto 4rem auto;
            

            .img--creation{
                height: auto;
                z-index: 998;

            }

                @media screen and (min-width: map-get($break-point, md)) {
                    margin:auto auto auto auto;
                    display: block; 
                    width:100%;
                    
                    
                }
                @media screen and (min-width: map-get($break-point, lg)) {
                    margin:0rem auto auto auto;
                    display: none;
                }

                .desc-creation{
                    height: auto;
                    width: 100%;
                    position: relative;
                    z-index: 999;
                    margin-top: -28rem;
                    
        
                    .title__creation{
                        margin: auto auto auto 2rem ;
                        color: map-get($colors,main);
                        line-height: 2rem;
                        z-index: 999;
                        font-weight: inherit;
                        font-size: 16px;
                        text-align: left;
                        position: relative;
                        
                        
        
                    @media screen and (min-width: map-get($break-point, md)) {
                        margin:auto  auto auto auto;
                        text-align:left;
                        line-height: 2rem;
                        
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                        margin:auto auto auto auto;
                        color: map-get($colors,main);
                        font-size: 24px;
                        text-align: left;
                        width: 50%;
                        
                        z-index: 997;
                        line-height: 2.5rem;
                    
                    }
                    
                }
        
                .txt__creation {
                    z-index: 999;
                    color: map-get($colors,main);
                    line-height: 2rem;
                    font-weight: normal;
                    font-size: 16px;
                    text-align: left;
                    margin:0rem auto -1rem 2rem;
                
        
                    @media screen and (min-width: map-get($break-point, md)) {
                        margin:4rem  auto auto 0rem;
                        position: relative;
                        text-align: left;
                        
                        
                    }
                    
                }
        
        
        
                }
        
                .list{
                    margin: 2rem auto auto 1.6rem ;
                    width: auto;
                    position: relative;
                    z-index: 999;
                    
        
                    @media screen and (min-width: map-get($break-point, md)) {
                        margin:auto  auto auto 24rem;
                        position: absolute;
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                        margin:auto  auto auto auto;
                    }
        
                    .first-list{
                        width: auto;
                        margin-left: 0rem;
        
                    @media screen and (min-width: map-get($break-point, md)) {
                        width: auto;
                        margin-left: -12rem;
                    }
                    @media screen and (min-width: map-get($break-point, lg)) {
                        width: auto;
                        margin-left: 25rem;
                        line-height:3rem;
                    }
                            
                        li{
                            
                            
                            font-size: 16px;
                            color: map-get($colors , main );
                            font-style: italic;
                            width: auto;
                            line-height: 1.5rem;
                            margin-left: 1rem;
                            margin-bottom:0rem;
                            justify-content: flex-start;
                            
        
                            @media screen and (min-width: map-get($break-point, md)) {
                                margin:0rem  auto auto 0rem;
                                font-size: 16px;
                                
                                
                            }
                            @media screen and (min-width: map-get($break-point, lg)) {
                                margin:0;
                                width: auto;
                                padding-right: 0rem;
                                padding-left: 0;
                                font-size: 18px;
                                
                                
                            }
        
                            .checked{
                                width: 1rem;
                                margin:0.8rem  0.5rem 0rem 0rem;
                                
                                justify-content: space-between;
                                
                        
                                @media screen and (min-width: map-get($break-point, md)) {
                                    width: 1rem;
                                    margin:0rem 0.5rem auto 0rem;
                                    line-height: 1rem;
                        
                                }
                            }
        
        
                            }
                        
                    }   
                }

        }

    }

    .btn__creation{
        justify-content: center;
        margin: auto 2rem auto auto;
        position: relative;
        display: flex;
        flex-direction:end;
        width: auto;
    }
    
    .illu-creation{
        position: relative;
        margin-bottom: 4rem;
        margin-top: 2rem;

        .photo__creation{
            display: block;
            position: relative;
            

            @media screen and (min-width: map-get($break-point, md)) {
                display: none;
                
            }
            @media screen and (min-width: map-get($break-point, lg)) {
                display: block;
                margin: auto auto auto 1rem;
                position: relative;
                width: 26rem;
                height: auto;
            }
        
        }

        
        .point__creation{
            display: flex;
            width: 40%;
            float: right;
            margin: -8.5rem auto auto auto;
            
            @media screen and (min-width: map-get($break-point, lg)) {
            
            display:block;
            margin-top: -2rem;
            margin-left: auto;
            width: 9rem;
        
            }
        }
    }
        

}














}