/* 
    Created on : 20-12-2019, 20:01:31
    Author     : Sylviana Vanmessen
*/
/* Make css mobile first */
/* Reset for better compatibility */
/* line 1, ../sass/base/_reset.scss */
html, body, div, span, h1, h2, p, a, strong, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table,
tbody, tfoot, thead, tr, th, td, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 11, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* Base */
/* mobile first css */
/* line 4, ../sass/base/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'primary-font';
  src: local(".ontSegoe UI.ttf") format("ttf"), local(".ontSegoe UI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'secondary-font';
  src: local(".ontQuicksand_Light.otf") format("otf"), local(".ontQuicksand_Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../sass/base/_base.scss */
html {
  font-size: 100%;
}

/* line 30, ../sass/base/_base.scss */
body {
  background-color: white;
  margin: 0rem;
  padding: 0rem;
  width: auto;
  font-size: 20px;
  font-family: "Segoe UI";
}

/* line 39, ../sass/base/_base.scss */
main {
  margin: 0rem;
  padding: 0rem;
}

/* line 44, ../sass/base/_base.scss */
h1 {
  margin: 2rem auto 3rem 2rem;
  font-size: 24px;
  color: white;
}

/* line 63, ../sass/base/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 68, ../sass/base/_base.scss */
p {
  font-size: 20px;
  line-height: 2rem;
}

/* line 74, ../sass/base/_base.scss */
.btn {
  background-color: #4eb748;
  border-bottom-right-radius: 15px;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  margin: 2rem auto;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
  max-width: 20rem;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
/* line 93, ../sass/base/_base.scss */
.btn:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  color: #033752;
}
/* line 100, ../sass/base/_base.scss */
.btn .post {
  display: flex;
  justify-content: space-between;
  width: 13%;
  height: 4%;
  margin: 0.2rem 1rem auto 1rem;
}

/* layout */
/********************HEADER********************/
/* line 2, ../sass/layout/_l-layout.scss */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 4rem;
  background-color: #033752;
  z-index: 999;
}
@media screen and (min-width: 740px) {
  /* line 2, ../sass/layout/_l-layout.scss */
  .l-header {
    height: auto;
    width: 5rem;
    background-color: transparent;
    position: absolute;
  }
}
/* line 20, ../sass/layout/_l-layout.scss */
.l-header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
/* line 27, ../sass/layout/_l-layout.scss */
.l-header #menu-up {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 27, ../sass/layout/_l-layout.scss */
  .l-header #menu-up {
    width: 100%;
    height: 6rem;
    background: #033752;
    background: #033752;
    background: linear-gradient(270deg, #033752 0%, rgba(4, 72, 106, 0.9388) 35%);
    display: block;
    position: fixed;
    margin-top: -7rem;
  }
}
/* line 44, ../sass/layout/_l-layout.scss */
.l-header .l-logo__mobile {
  display: block;
  width: 2.5rem;
  margin: 1rem;
}
@media screen and (min-width: 740px) {
  /* line 44, ../sass/layout/_l-layout.scss */
  .l-header .l-logo__mobile {
    display: inline-block;
    margin: 1rem;
    width: 2.5rem;
    position: relative;
  }
}
/* line 59, ../sass/layout/_l-layout.scss */
.l-header .l-logo__lg {
  display: none;
}
@media screen and (min-width: 1124px) {
  /* line 59, ../sass/layout/_l-layout.scss */
  .l-header .l-logo__lg {
    display: inline-block;
  }
}
/* line 68, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger {
  z-index: 999;
  width: 2rem;
  height: 2rem;
  margin: -3rem 1rem 1rem 1rem;
  right: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  position: fixed;
}
/* line 81, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span {
  display: block;
  position: absolute;
  height: .15rem;
  width: 100%;
  background: white;
  border-radius: 0.15rem;
  opacity: 1;
  left: 0;
  z-index: 999;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 94, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(1) {
  top: 0;
}
/* line 98, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(2), .l-header #menu-hamburger span:nth-child(3) {
  top: .5rem;
}
/* line 102, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(4) {
  top: 1rem;
}
/* line 107, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open {
  position: relative;
  z-index: 9999;
  display: block;
  float: right;
}
@media screen and (min-width: 740px) {
  /* line 107, ../sass/layout/_l-layout.scss */
  .l-header #menu-hamburger.is-open {
    display: none;
  }
}
/* line 117, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span {
  background: white;
}
/* line 120, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(1) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 126, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(2) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 130, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 134, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(4) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 141, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open:before {
  background: transparent;
}
@media screen and (min-width: 740px) {
  /* line 68, ../sass/layout/_l-layout.scss */
  .l-header #menu-hamburger {
    display: none;
  }
}
/* line 151, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main {
  text-align: right;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: none;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background: #033752;
}
/* line 162, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main.is-visible {
  right: 0;
  display: block;
  right: -100rem;
}
@media screen and (min-width: 740px) {
  /* line 151, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main {
    background: none;
    width: auto;
    height: auto;
    display: block;
    position: relative;
    right: 0;
    background: transparent;
  }
}
/* line 179, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main nav {
  margin-left: auto;
  margin-right: auto;
}
/* line 185, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main ul {
  margin-top: -1rem;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 740px) {
  /* line 185, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main ul {
    z-index: 999;
    width: 100%;
    text-align: right;
    position: fixed;
    margin: -5rem auto auto -5rem;
    display: inline-block;
    font-size: 18px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 185, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main ul {
    margin: -5rem auto auto -5rem;
  }
}
/* line 209, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main li {
  position: relative;
  display: block;
  margin-top: 3rem;
}
@media screen and (min-width: 740px) {
  /* line 209, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main li {
    display: inline-block;
    margin: auto 0rem auto 0rem;
  }
  /* line 219, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main li:hover {
    transform: scale(0.9);
  }
}
/* line 227, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 25px;
}
@media screen and (min-width: 740px) {
  /* line 227, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main a {
    color: white;
    padding: 0.2rem 0.5rem;
    margin: auto 1rem auto 1rem;
  }
  /* line 243, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main a:hover, .l-header .l-nav__main a.is-active {
    right: 0;
  }
  /* line 248, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main a.blue-contact {
    color: #4eb748;
  }
}
@media screen and (min-width: 740px) {
  /* line 259, ../sass/layout/_l-layout.scss */
  .l-header a.hover:hover:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 3px solid #4eb748;
    border-left: 3px solid #4eb748;
  }
  /* line 271, ../sass/layout/_l-layout.scss */
  .l-header a.hover:hover:after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 3px solid #4eb748;
    border-right: 3px solid #4eb748;
  }
}

/********************FOOTER********************/
/* line 288, ../sass/layout/_l-layout.scss */
footer {
  background: #033752;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  position: absolute;
  margin-top: 1rem;
}
/* line 297, ../sass/layout/_l-layout.scss */
footer .bordure {
  border-bottom: 1px solid white;
  margin-top: 7rem;
  z-index: 999;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 297, ../sass/layout/_l-layout.scss */
  footer .bordure {
    margin-top: 4rem;
    display: block;
    width: 95%;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 297, ../sass/layout/_l-layout.scss */
  footer .bordure {
    display: block;
  }
}
/* line 318, ../sass/layout/_l-layout.scss */
footer .icon {
  width: 1rem;
  margin-right: 1rem;
}
/* line 323, ../sass/layout/_l-layout.scss */
footer .copyright {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  width: 100%;
}
/* line 331, ../sass/layout/_l-layout.scss */
footer .copyright a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 16px;
  width: 100%;
}
/* line 339, ../sass/layout/_l-layout.scss */
footer .copyright a:hover {
  color: #4eb748;
}
@media screen and (min-width: 740px) {
  /* line 323, ../sass/layout/_l-layout.scss */
  footer .copyright {
    font-size: 16px;
    padding-top: 2rem;
    width: auto;
    text-align: center;
    margin-top: 0rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 323, ../sass/layout/_l-layout.scss */
  footer .copyright {
    font-size: 18px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    width: auto;
    text-align: center;
    margin-top: 2rem;
  }
}
/* line 360, ../sass/layout/_l-layout.scss */
footer .logo-footer {
  width: 15rem;
  padding-top: -2rem;
}
@media screen and (min-width: 740px) {
  /* line 360, ../sass/layout/_l-layout.scss */
  footer .logo-footer {
    width: 12rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 360, ../sass/layout/_l-layout.scss */
  footer .logo-footer {
    padding-top: 1.5rem;
  }
}
/* line 372, ../sass/layout/_l-layout.scss */
footer .icon--heart {
  width: 1rem;
}
/* line 376, ../sass/layout/_l-layout.scss */
footer .section__footer--left {
  margin-left: 1rem;
}
/* line 379, ../sass/layout/_l-layout.scss */
footer .section__footer--left h1 {
  margin: 2rem auto 2rem -1rem;
  font-size: 24px;
}
@media screen and (min-width: 740px) {
  /* line 376, ../sass/layout/_l-layout.scss */
  footer .section__footer--left {
    margin-left: 1rem;
    margin-top: -4rem;
    font-size: 20px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 376, ../sass/layout/_l-layout.scss */
  footer .section__footer--left {
    margin-left: 2rem;
    margin-top: -7rem;
  }
}
/* line 395, ../sass/layout/_l-layout.scss */
footer .section__footer--left a {
  color: white;
  margin-top: -1rem;
  text-decoration-line: none;
  margin-left: -1rem;
  font-size: 18px;
}
@media screen and (min-width: 740px) {
  /* line 395, ../sass/layout/_l-layout.scss */
  footer .section__footer--left a {
    font-size: 18px;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 395, ../sass/layout/_l-layout.scss */
  footer .section__footer--left a {
    margin-left: 4rem;
    font-size: 20px;
  }
}
/* line 414, ../sass/layout/_l-layout.scss */
footer .section__footer--left a:hover {
  color: #4eb748;
}
/* line 421, ../sass/layout/_l-layout.scss */
footer .section__footer--middle {
  margin-left: -2rem;
}
@media screen and (min-width: 740px) {
  /* line 421, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle {
    margin-left: -7rem;
    margin-top: -4rem;
    font-size: 18px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 421, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle {
    margin-left: -3rem;
  }
}
/* line 433, ../sass/layout/_l-layout.scss */
footer .section__footer--middle ul {
  margin-top: 0.5rem;
}
/* line 436, ../sass/layout/_l-layout.scss */
footer .section__footer--middle li {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2rem;
  font-size: 16px;
  height: 3rem;
  width: auto;
}
@media screen and (min-width: 740px) {
  /* line 436, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle li {
    font-size: 16px;
    margin-left: 5rem;
    line-height: 2rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 436, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle li {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: 4rem;
    font-size: 18px;
    height: 3rem;
    width: auto;
  }
}
/* line 472, ../sass/layout/_l-layout.scss */
footer .section__footer--right {
  margin-left: -2rem;
}
@media screen and (min-width: 740px) {
  /* line 472, ../sass/layout/_l-layout.scss */
  footer .section__footer--right {
    margin-left: -5rem;
    margin-top: -4rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 472, ../sass/layout/_l-layout.scss */
  footer .section__footer--right {
    margin-left: 1rem;
  }
}
/* line 483, ../sass/layout/_l-layout.scss */
footer .section__footer--right p {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2rem;
  font-size: 18px;
  height: 2.5rem;
  width: auto;
}
@media screen and (min-width: 740px) {
  /* line 483, ../sass/layout/_l-layout.scss */
  footer .section__footer--right p {
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: 4rem;
    font-size: 16px;
    height: 2.5rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 483, ../sass/layout/_l-layout.scss */
  footer .section__footer--right p {
    margin-left: 0rem;
    font-size: 20px;
    height: 2.5rem;
    width: auto;
  }
}
/* line 514, ../sass/layout/_l-layout.scss */
footer .btn--footer {
  float: left;
  margin: 3rem auto 3rem 1rem;
}

/*modules*/
/********************section banner********************/
/* line 2, ../sass/modules/_m-home.scss */
.section__banner {
  height: auto;
  background-color: #033752;
}
@media screen and (min-width: 740px) {
  /* line 2, ../sass/modules/_m-home.scss */
  .section__banner {
    background-color: white;
  }
}
/* line 10, ../sass/modules/_m-home.scss */
.section__banner .bg__banner {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 10, ../sass/modules/_m-home.scss */
  .section__banner .bg__banner {
    display: block;
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 1124px) {
  /* line 10, ../sass/modules/_m-home.scss */
  .section__banner .bg__banner {
    display: block;
    width: 90%;
  }
}
/* line 23, ../sass/modules/_m-home.scss */
.section__banner .header__lg {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 23, ../sass/modules/_m-home.scss */
  .section__banner .header__lg {
    margin: -33rem auto auto 27rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: auto;
    position: absolute;
  }
}
@media screen and (min-width: 1124px) {
  /* line 23, ../sass/modules/_m-home.scss */
  .section__banner .header__lg {
    margin: -44rem auto auto 40rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: auto;
    position: absolute;
  }
}
/* line 49, ../sass/modules/_m-home.scss */
.section__banner .header__mobile {
  margin-top: 3rem;
  z-index: 0;
  height: auto;
}
@media screen and (min-width: 740px) {
  /* line 49, ../sass/modules/_m-home.scss */
  .section__banner .header__mobile {
    display: none;
  }
}
/* line 57, ../sass/modules/_m-home.scss */
.section__banner .l-logo__sm {
  margin-top: -4rem;
  display: block;
  position: absolute;
  width: 50%;
}
@media screen and (min-width: 740px) {
  /* line 57, ../sass/modules/_m-home.scss */
  .section__banner .l-logo__sm {
    display: none;
  }
}
/* line 68, ../sass/modules/_m-home.scss */
.section__banner .l-logo__lg {
  margin-top: auto;
  display: block;
  position: absolute;
  width: 50%;
}
@media screen and (min-width: 740px) {
  /* line 68, ../sass/modules/_m-home.scss */
  .section__banner .l-logo__lg {
    display: block;
    position: absolute;
    width: 30%;
    margin: -32rem auto auto 8rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 68, ../sass/modules/_m-home.scss */
  .section__banner .l-logo__lg {
    margin: -44rem auto auto 8rem;
  }
}
/* line 84, ../sass/modules/_m-home.scss */
.section__banner .point__banner {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 84, ../sass/modules/_m-home.scss */
  .section__banner .point__banner {
    display: block;
    position: absolute;
    width: 20%;
    margin: -15rem auto auto 14rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 84, ../sass/modules/_m-home.scss */
  .section__banner .point__banner {
    width: 20%;
    margin: -17rem auto auto 14rem;
  }
}
/* line 99, ../sass/modules/_m-home.scss */
.section__banner .txt__presentation {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 70%;
  margin: -4rem auto auto 0rem;
}
@media screen and (min-width: 740px) {
  /* line 99, ../sass/modules/_m-home.scss */
  .section__banner .txt__presentation {
    display: block;
    position: absolute;
    width: 120%;
    margin: 1rem auto auto auto;
    text-align: right;
  }
}
@media screen and (min-width: 1124px) {
  /* line 99, ../sass/modules/_m-home.scss */
  .section__banner .txt__presentation {
    margin: -4rem auto auto auto;
    text-align: right;
  }
}
/* line 120, ../sass/modules/_m-home.scss */
.section__banner .crl--blue {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 120, ../sass/modules/_m-home.scss */
  .section__banner .crl--blue {
    display: flex;
    position: relative;
    justify-content: left;
    margin: -12rem auto auto 8rem;
    color: white;
    text-align: center;
  }
  /* line 130, ../sass/modules/_m-home.scss */
  .section__banner .crl--blue ::before {
    content: ">";
    color: #4eb748;
  }
}
@media screen and (min-width: 1124px) {
  /* line 120, ../sass/modules/_m-home.scss */
  .section__banner .crl--blue {
    margin: -12rem auto auto 10rem;
  }
}
@media screen and (min-width: 740px) {
  /* line 141, ../sass/modules/_m-home.scss */
  .section__banner .btn__banner {
    margin: 0;
    margin-right: 5rem;
    padding: auto 2rem auto 1rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 141, ../sass/modules/_m-home.scss */
  .section__banner .btn__banner {
    padding: auto 2rem auto 1rem;
    width: 15rem;
  }
}
/* line 157, ../sass/modules/_m-home.scss */
.section__banner .txt--liner {
  color: white;
  text-align: center;
  line-height: 2rem;
  margin: 2rem 2rem 2rem 2rem;
  padding-bottom: 2rem;
}
/* line 164, ../sass/modules/_m-home.scss */
.section__banner .txt--liner span {
  border-bottom: solid 2px #2999d1;
}
@media screen and (min-width: 740px) {
  /* line 157, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner {
    display: block;
    position: absolute;
    width: 20%;
    margin: -28rem auto auto 8rem;
    text-align: left;
    font-size: 17px;
  }
  /* line 176, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner span {
    border-bottom: solid 2px #2999d1;
  }
  /* line 179, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner p {
    margin-left: -3rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 157, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner {
    margin: -33rem auto auto 8rem;
  }
}

/********************wrap page home********************/
/* line 195, ../sass/modules/_m-home.scss */
.wrap {
  max-width: 1124px;
  height: auto;
  /********************section detail********************/
  /********************section logo********************/
  /********************section creations********************/
}
/* line 202, ../sass/modules/_m-home.scss */
.wrap .section__detail {
  min-height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 740px) {
  /* line 202, ../sass/modules/_m-home.scss */
  .wrap .section__detail {
    height: auto;
    margin-top: 10rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 202, ../sass/modules/_m-home.scss */
  .wrap .section__detail {
    background: none;
    height: auto;
  }
}
/* line 224, ../sass/modules/_m-home.scss */
.wrap .section__detail .title__primary {
  font-style: italic;
  margin: 3rem auto 1rem auto;
  text-align: left;
  color: #033752;
  width: 100%;
  font-size: 30px;
}
/* line 233, ../sass/modules/_m-home.scss */
.wrap .section__detail .title__primary span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-weight: bold;
  font-style: normal;
}
@media screen and (min-width: 740px) {
  /* line 224, ../sass/modules/_m-home.scss */
  .wrap .section__detail .title__primary {
    margin: 1rem auto -4rem auto;
    font-size: 30px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 224, ../sass/modules/_m-home.scss */
  .wrap .section__detail .title__primary {
    margin: 3rem auto auto 5rem;
    font-size: 30px;
    text-align: left;
    width: 20rem;
    line-height: 2rem;
  }
}
/* line 253, ../sass/modules/_m-home.scss */
.wrap .section__detail .crl--green {
  font-style: normal;
  width: 100%;
  margin: auto auto auto auto;
  text-align: left;
  color: #033752;
  line-height: 2rem;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}
/* line 267, ../sass/modules/_m-home.scss */
.wrap .section__detail .crl--green span {
  color: #4eb748;
  font-weight: normal;
}
@media screen and (min-width: 740px) {
  /* line 253, ../sass/modules/_m-home.scss */
  .wrap .section__detail .crl--green {
    margin: 7rem auto auto auto;
    font-size: 20px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 253, ../sass/modules/_m-home.scss */
  .wrap .section__detail .crl--green {
    margin: 2rem auto 2rem 5rem;
    font-size: 24px;
    text-align: left;
    width: 30rem;
    line-height: 2rem;
  }
}
/* line 292, ../sass/modules/_m-home.scss */
.wrap .section__detail .txt__liner--green-2 {
  margin: 1.5rem auto auto auto;
  text-align: center;
  text-align: left;
  color: #033752;
  width: auto;
  font-size: 20px;
  line-height: 2rem;
}
/* line 303, ../sass/modules/_m-home.scss */
.wrap .section__detail .txt__liner--green-2 span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-style: normal;
}
@media screen and (min-width: 1124px) {
  /* line 292, ../sass/modules/_m-home.scss */
  .wrap .section__detail .txt__liner--green-2 {
    margin: 0rem auto auto 5rem;
    font-size: 20px;
    text-align: left;
    width: 30rem;
    line-height: 2rem;
  }
}
/* line 325, ../sass/modules/_m-home.scss */
.wrap .section__detail .cadre__detail .img__detail--mobile {
  justify-content: center;
  width: 90%;
  margin: 2rem auto auto auto;
  height: auto;
}
@media screen and (min-width: 740px) {
  /* line 325, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--mobile {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  /* line 325, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--mobile {
    display: none;
  }
}
/* line 343, ../sass/modules/_m-home.scss */
.wrap .section__detail .cadre__detail .img__detail--lg {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 343, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--lg {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  /* line 343, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--lg {
    display: block;
    width: 75%;
    float: right;
    margin-top: 6rem;
  }
}
/* line 361, ../sass/modules/_m-home.scss */
.wrap .section__detail .btn--detail {
  margin: 4rem auto auto 18rem;
}
/* line 368, ../sass/modules/_m-home.scss */
.wrap .section__logo {
  min-height: auto;
  width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}
@media screen and (min-width: 740px) {
  /* line 368, ../sass/modules/_m-home.scss */
  .wrap .section__logo {
    height: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 368, ../sass/modules/_m-home.scss */
  .wrap .section__logo {
    height: auto;
    width: auto;
  }
}
/* line 385, ../sass/modules/_m-home.scss */
.wrap .section__logo .title__liner--green p {
  margin: 0rem 1rem 2rem 1rem;
  color: #033752;
  width: 95%;
  font-size: 28px;
  line-height: 3rem;
}
/* line 392, ../sass/modules/_m-home.scss */
.wrap .section__logo .title__liner--green p span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-style: normal;
}
@media screen and (min-width: 740px) {
  /* line 385, ../sass/modules/_m-home.scss */
  .wrap .section__logo .title__liner--green p {
    margin: 5rem auto auto 5rem;
    font-size: 30px;
    line-height: 2rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 385, ../sass/modules/_m-home.scss */
  .wrap .section__logo .title__liner--green p {
    margin: 4.5rem auto 8rem 5rem;
    font-size: 30px;
    text-align: left;
    width: 30rem;
  }
}
/* line 412, ../sass/modules/_m-home.scss */
.wrap .section__logo .txt--blue {
  margin: 1rem;
  color: #033752;
  width: 100%;
  font-size: 12px;
  line-height: 2rem;
  display: block;
}
@media screen and (min-width: 740px) {
  /* line 412, ../sass/modules/_m-home.scss */
  .wrap .section__logo .txt--blue {
    margin: 2rem auto 5rem 20rem;
    width: 50%;
  }
}
@media screen and (min-width: 1124px) {
  /* line 412, ../sass/modules/_m-home.scss */
  .wrap .section__logo .txt--blue {
    margin: -2rem auto 8rem 0rem;
  }
}
/* line 431, ../sass/modules/_m-home.scss */
.wrap .section__logo .cadre__logo img {
  width: 90%;
  margin: 1rem;
}
@media screen and (min-width: 740px) {
  /* line 431, ../sass/modules/_m-home.scss */
  .wrap .section__logo .cadre__logo img {
    margin: 10rem auto auto auto;
    width: 45rem;
    display: block;
  }
}
@media screen and (min-width: 1124px) {
  /* line 431, ../sass/modules/_m-home.scss */
  .wrap .section__logo .cadre__logo img {
    width: 60rem;
    margin: 8rem auto auto auto;
  }
}
/* line 445, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo {
  width: 100%;
  margin: auto auto auto auto;
  text-align: center;
}
@media screen and (min-width: 740px) {
  /* line 445, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo {
    margin: -5rem auto auto auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 445, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo {
    margin: -6rem auto auto auto;
  }
}
/* line 458, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo .logo__partners {
  width: 4rem;
  height: auto;
  margin: 0;
  border-color: 3px solid #033752;
}
/* line 466, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo .logo__partners:hover {
  border: 2px solid #033752;
  border-radius: 15px;
  transform: scale(1.2);
}
@media screen and (min-width: 740px) {
  /* line 458, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo .logo__partners {
    width: 5rem;
    margin: -5rem 1rem 3rem 1rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 458, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo .logo__partners {
    width: 9rem;
    margin: -10rem 1rem 3rem 1rem;
  }
  /* line 482, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo .logo__partners:hover {
    border: 2px solid #033752;
    border-radius: 15px;
    transform: scale(1.5);
  }
}
/* line 497, ../sass/modules/_m-home.scss */
.wrap .section__creation {
  height: auto;
  width: 100%;
  margin-top: 2rem;
}
@media screen and (min-width: 740px) {
  /* line 497, ../sass/modules/_m-home.scss */
  .wrap .section__creation {
    height: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 497, ../sass/modules/_m-home.scss */
  .wrap .section__creation {
    height: auto;
  }
}
/* line 512, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 512, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  /* line 512, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation {
    margin: 0rem 0 auto auto;
    display: block;
    width: 90%;
    height: 40rem;
  }
}
/* line 531, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile {
  width: 100%;
  margin: -4rem auto 4rem auto;
}
/* line 537, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .img--creation {
  height: auto;
  z-index: 998;
}
@media screen and (min-width: 740px) {
  /* line 531, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile {
    margin: auto auto auto auto;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1124px) {
  /* line 531, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile {
    margin: 0rem auto auto auto;
    display: none;
  }
}
/* line 555, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .desc-creation {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 999;
  margin-top: -28rem;
}
/* line 563, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .desc-creation .title__creation {
  margin: auto auto auto 2rem;
  color: white;
  line-height: 2rem;
  z-index: 999;
  font-weight: inherit;
  font-size: 16px;
  text-align: left;
  position: relative;
}
@media screen and (min-width: 740px) {
  /* line 563, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .desc-creation .title__creation {
    margin: auto  auto auto auto;
    text-align: left;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 563, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .desc-creation .title__creation {
    margin: auto auto auto auto;
    color: white;
    font-size: 24px;
    text-align: left;
    width: 50%;
    z-index: 997;
    line-height: 2.5rem;
  }
}
/* line 595, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .desc-creation .txt__creation {
  z-index: 999;
  color: white;
  line-height: 2rem;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  margin: 0rem auto -1rem 2rem;
}
@media screen and (min-width: 740px) {
  /* line 595, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .desc-creation .txt__creation {
    margin: 4rem  auto auto 0rem;
    position: relative;
    text-align: left;
  }
}
/* line 619, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .list {
  margin: 2rem auto auto 1.6rem;
  width: auto;
  position: relative;
  z-index: 999;
}
@media screen and (min-width: 740px) {
  /* line 619, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .list {
    margin: auto  auto auto 24rem;
    position: absolute;
  }
}
@media screen and (min-width: 1124px) {
  /* line 619, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .list {
    margin: auto  auto auto auto;
  }
}
/* line 634, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .list .first-list {
  width: auto;
  margin-left: 0rem;
}
@media screen and (min-width: 740px) {
  /* line 634, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .list .first-list {
    width: auto;
    margin-left: -12rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 634, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .list .first-list {
    width: auto;
    margin-left: 25rem;
    line-height: 3rem;
  }
}
/* line 648, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .list .first-list li {
  font-size: 16px;
  color: white;
  font-style: italic;
  width: auto;
  line-height: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 0rem;
  justify-content: flex-start;
}
@media screen and (min-width: 740px) {
  /* line 648, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .list .first-list li {
    margin: 0rem  auto auto 0rem;
    font-size: 16px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 648, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .list .first-list li {
    margin: 0;
    width: auto;
    padding-right: 0rem;
    padding-left: 0;
    font-size: 18px;
  }
}
/* line 677, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadres .cadre__creation--mobile .list .first-list li .checked {
  width: 1rem;
  margin: 0.8rem  0.5rem 0rem 0rem;
  justify-content: space-between;
}
@media screen and (min-width: 740px) {
  /* line 677, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadres .cadre__creation--mobile .list .first-list li .checked {
    width: 1rem;
    margin: 0rem 0.5rem auto 0rem;
    line-height: 1rem;
  }
}
/* line 702, ../sass/modules/_m-home.scss */
.wrap .section__creation .btn__creation {
  justify-content: center;
  margin: auto 2rem auto auto;
  position: relative;
  display: flex;
  flex-direction: end;
  width: auto;
}
/* line 711, ../sass/modules/_m-home.scss */
.wrap .section__creation .illu-creation {
  position: relative;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
/* line 716, ../sass/modules/_m-home.scss */
.wrap .section__creation .illu-creation .photo__creation {
  display: block;
  position: relative;
}
@media screen and (min-width: 740px) {
  /* line 716, ../sass/modules/_m-home.scss */
  .wrap .section__creation .illu-creation .photo__creation {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  /* line 716, ../sass/modules/_m-home.scss */
  .wrap .section__creation .illu-creation .photo__creation {
    display: block;
    margin: auto auto auto 1rem;
    position: relative;
    width: 26rem;
    height: auto;
  }
}
/* line 736, ../sass/modules/_m-home.scss */
.wrap .section__creation .illu-creation .point__creation {
  display: flex;
  width: 40%;
  float: right;
  margin: -8.5rem auto auto auto;
}
@media screen and (min-width: 1124px) {
  /* line 736, ../sass/modules/_m-home.scss */
  .wrap .section__creation .illu-creation .point__creation {
    display: block;
    margin-top: -2rem;
    margin-left: auto;
    width: 9rem;
  }
}
