/* 
    Created on : 20-12-2019, 20:01:31
    Author     : Sylviana Vanmessen
*/
/* Make css mobile first */
/* Reset for better compatibility */
/* line 1, ../sass/base/_reset.scss */
html, body, div, span, h1, h2, p, a, strong, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table,
tbody, tfoot, thead, tr, th, td, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 11, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* Base */
/* mobile first css */
/* line 4, ../sass/base/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'primary-font';
  src: local(".ontSegoe UI.ttf") format("ttf"), local(".ontSegoe UI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'secondary-font';
  src: local(".ontQuicksand_Light.otf") format("otf"), local(".ontQuicksand_Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../sass/base/_base.scss */
html {
  font-size: 100%;
}

/* line 30, ../sass/base/_base.scss */
body {
  background-color: white;
  margin: 0rem;
  padding: 0rem;
  width: auto;
  font-size: 20px;
  font-family: "Segoe UI";
}

/* line 39, ../sass/base/_base.scss */
main {
  margin: 0rem;
  padding: 0rem;
}

/* line 44, ../sass/base/_base.scss */
h1 {
  margin: 2rem auto 3rem 2rem;
  font-size: 24px;
  color: white;
}

/* line 63, ../sass/base/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 68, ../sass/base/_base.scss */
p {
  font-size: 20px;
}

/* line 74, ../sass/base/_base.scss */
.btn {
  background-color: #4eb748;
  border-bottom-right-radius: 15px;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  margin: 2rem auto;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
  max-width: 20rem;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
/* line 93, ../sass/base/_base.scss */
.btn:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  color: #033752;
}
/* line 100, ../sass/base/_base.scss */
.btn .post {
  display: flex;
  justify-content: space-between;
  width: 13%;
  height: 4%;
  margin: 0.2rem 1rem auto 1rem;
}

/* layout */
/********************HEADER********************/
/* line 2, ../sass/layout/_l-layout.scss */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 4rem;
  background-color: #033752;
  z-index: 999;
}
@media screen and (min-width: 740px) {
  /* line 2, ../sass/layout/_l-layout.scss */
  .l-header {
    height: auto;
    width: 5rem;
    background-color: transparent;
    position: absolute;
  }
}
/* line 20, ../sass/layout/_l-layout.scss */
.l-header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
/* line 27, ../sass/layout/_l-layout.scss */
.l-header #menu-up {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 27, ../sass/layout/_l-layout.scss */
  .l-header #menu-up {
    width: 100%;
    height: 6rem;
    background: #033752;
    background: #033752;
    background: linear-gradient(270deg, #033752 0%, rgba(4, 72, 106, 0.9388) 35%);
    display: block;
    position: fixed;
    margin-top: -7rem;
  }
}
/* line 44, ../sass/layout/_l-layout.scss */
.l-header .l-logo__mobile {
  display: block;
  width: 2.5rem;
  margin: 1rem;
}
@media screen and (min-width: 740px) {
  /* line 44, ../sass/layout/_l-layout.scss */
  .l-header .l-logo__mobile {
    display: inline-block;
    margin: 1rem;
    width: 2.5rem;
    position: relative;
  }
}
/* line 59, ../sass/layout/_l-layout.scss */
.l-header .l-logo__lg {
  display: none;
}
@media screen and (min-width: 1124px) {
  /* line 59, ../sass/layout/_l-layout.scss */
  .l-header .l-logo__lg {
    display: inline-block;
  }
}
/* line 69, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger {
  z-index: 999;
  width: 2rem;
  height: 2rem;
  margin: -3rem 1rem 1rem 1rem;
  right: 0;
  position: fixed;
  z-index: 1000;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  position: fixed;
}
/* line 84, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span {
  display: block;
  position: absolute;
  height: .15rem;
  width: 100%;
  background: white;
  border-radius: 0.15rem;
  opacity: 1;
  left: 0;
  z-index: 999;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 97, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(1) {
  top: 0;
}
/* line 101, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(2), .l-header #menu-hamburger span:nth-child(3) {
  top: .5rem;
}
/* line 105, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(4) {
  top: 1rem;
}
/* line 110, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open {
  position: relative;
  z-index: 9999;
  display: block;
  float: right;
}
@media screen and (min-width: 740px) {
  /* line 110, ../sass/layout/_l-layout.scss */
  .l-header #menu-hamburger.is-open {
    display: none;
  }
}
/* line 120, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span {
  background: white;
}
/* line 123, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(1) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 129, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(2) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 133, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 137, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(4) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 144, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open:before {
  background: transparent;
}
@media screen and (min-width: 740px) {
  /* line 69, ../sass/layout/_l-layout.scss */
  .l-header #menu-hamburger {
    display: none;
  }
}
/* line 154, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main {
  text-align: right;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: none;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background: #033752;
}
/* line 165, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main.is-visible {
  right: 0;
  display: block;
  right: -100rem;
}
@media screen and (min-width: 740px) {
  /* line 154, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main {
    background: none;
    width: auto;
    height: auto;
    display: block;
    position: relative;
    right: 0;
    background: transparent;
  }
}
/* line 182, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main nav {
  margin-left: auto;
  margin-right: auto;
}
/* line 188, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main ul {
  margin-top: -1rem;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 740px) {
  /* line 188, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main ul {
    z-index: 999;
    width: 100%;
    text-align: right;
    position: fixed;
    margin: -5rem auto auto -27rem;
    display: inline-block;
    font-size: 18px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 188, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main ul {
    margin: -5rem auto auto -6rem;
  }
}
/* line 212, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main li {
  position: relative;
  display: block;
  margin-top: 3rem;
}
@media screen and (min-width: 740px) {
  /* line 212, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main li {
    display: inline-block;
    margin: auto 0rem auto 0rem;
  }
  /* line 222, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main li:hover {
    transform: scale(0.9);
  }
}
/* line 230, ../sass/layout/_l-layout.scss */
.l-header .l-nav__main a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 25px;
}
@media screen and (min-width: 740px) {
  /* line 230, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main a {
    color: white;
    padding: 0.2rem 0.5rem;
    margin: auto 1rem auto 1rem;
  }
  /* line 246, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main a:hover, .l-header .l-nav__main a.is-active {
    right: 0;
  }
  /* line 251, ../sass/layout/_l-layout.scss */
  .l-header .l-nav__main a.blue-contact {
    color: #4eb748;
  }
}
@media screen and (min-width: 740px) {
  /* line 262, ../sass/layout/_l-layout.scss */
  .l-header a.hover:hover:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 3px solid #4eb748;
    border-left: 3px solid #4eb748;
  }
  /* line 274, ../sass/layout/_l-layout.scss */
  .l-header a.hover:hover:after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 3px solid #4eb748;
    border-right: 3px solid #4eb748;
  }
}

/********************FOOTER********************/
/* line 291, ../sass/layout/_l-layout.scss */
footer {
  background: #033752;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  position: absolute;
  margin-top: 8rem;
}
/* line 303, ../sass/layout/_l-layout.scss */
footer .bordure {
  border-bottom: 1px solid white;
  margin-top: 7rem;
  z-index: 999;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 303, ../sass/layout/_l-layout.scss */
  footer .bordure {
    margin-top: 3rem;
    padding-top: 1rem;
    display: block;
    width: 95%;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 303, ../sass/layout/_l-layout.scss */
  footer .bordure {
    display: block;
  }
}
/* line 325, ../sass/layout/_l-layout.scss */
footer .icon {
  width: 1rem;
  margin-right: 1rem;
}
/* line 330, ../sass/layout/_l-layout.scss */
footer .copyright {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  width: 100%;
}
/* line 342, ../sass/layout/_l-layout.scss */
footer .copyright a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 16px;
  width: 100%;
}
/* line 350, ../sass/layout/_l-layout.scss */
footer .copyright a:hover {
  color: #4eb748;
}
@media screen and (min-width: 740px) {
  /* line 330, ../sass/layout/_l-layout.scss */
  footer .copyright {
    font-size: 16px;
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 0rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 330, ../sass/layout/_l-layout.scss */
  footer .copyright {
    font-size: 18px;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    width: auto;
    text-align: center;
    margin-top: 2rem;
    margin-left: 25rem;
    display: inline-block;
  }
}
/* line 374, ../sass/layout/_l-layout.scss */
footer .logo-footer {
  width: 15rem;
  padding-top: -2rem;
}
@media screen and (min-width: 740px) {
  /* line 374, ../sass/layout/_l-layout.scss */
  footer .logo-footer {
    width: 11rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 374, ../sass/layout/_l-layout.scss */
  footer .logo-footer {
    padding-top: 1.5rem;
  }
}
/* line 387, ../sass/layout/_l-layout.scss */
footer .icon--heart {
  width: 1rem;
}
/* line 391, ../sass/layout/_l-layout.scss */
footer .section__footer--left {
  margin-left: 1rem;
}
/* line 395, ../sass/layout/_l-layout.scss */
footer .section__footer--left h1 {
  margin: 2rem auto 0rem -1rem;
  font-size: 24px;
}
@media screen and (min-width: 740px) {
  /* line 391, ../sass/layout/_l-layout.scss */
  footer .section__footer--left {
    margin-top: -7rem;
    font-size: 20px;
  }
  /* line 405, ../sass/layout/_l-layout.scss */
  footer .section__footer--left h1 {
    padding-top: 2rem;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 411, ../sass/layout/_l-layout.scss */
  footer .section__footer--left h1 {
    padding-bottom: 2rem;
    margin-left: 4rem;
  }
}
/* line 419, ../sass/layout/_l-layout.scss */
footer .section__footer--left a {
  color: white;
  margin-top: -1rem;
  text-decoration-line: none;
  margin-left: -1rem;
  font-size: 18px;
}
@media screen and (min-width: 740px) {
  /* line 419, ../sass/layout/_l-layout.scss */
  footer .section__footer--left a {
    font-size: 18px;
    margin-left: -1rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 419, ../sass/layout/_l-layout.scss */
  footer .section__footer--left a {
    margin-left: 4rem;
    font-size: 20px;
  }
}
/* line 438, ../sass/layout/_l-layout.scss */
footer .section__footer--left a:hover {
  color: #4eb748;
}
/* line 445, ../sass/layout/_l-layout.scss */
footer .section__footer--middle {
  margin-left: -2rem;
}
@media screen and (min-width: 740px) {
  /* line 445, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle {
    margin-left: -2rem;
    margin-top: 0rem;
    font-size: 18px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 445, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle {
    width: auto;
    text-align: center;
    display: flex;
    margin: 0;
  }
  /* line 460, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle h1 {
    margin: -17rem auto 0rem auto;
    font-size: 24px;
  }
}
/* line 467, ../sass/layout/_l-layout.scss */
footer .section__footer--middle ul {
  margin-top: 0.5rem;
}
@media screen and (min-width: 1124px) {
  /* line 467, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle ul {
    margin: -11rem auto auto -44rem;
    text-align: left;
  }
}
/* line 474, ../sass/layout/_l-layout.scss */
footer .section__footer--middle li {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2rem;
  font-size: 16px;
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}
@media screen and (min-width: 740px) {
  /* line 474, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle li {
    font-size: 16px;
    margin-left: 3rem;
    line-height: 2rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 474, ../sass/layout/_l-layout.scss */
  footer .section__footer--middle li {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: 4rem;
    font-size: 18px;
    height: 3rem;
    width: auto;
  }
}
/* line 504, ../sass/layout/_l-layout.scss */
footer .section__footer--right {
  margin-left: -2rem;
}
@media screen and (min-width: 740px) {
  /* line 504, ../sass/layout/_l-layout.scss */
  footer .section__footer--right {
    margin-left: -3rem;
    margin-top: -1rem;
  }
  /* line 509, ../sass/layout/_l-layout.scss */
  footer .section__footer--right h1 {
    margin-left: 3rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 504, ../sass/layout/_l-layout.scss */
  footer .section__footer--right {
    margin: -29rem auto auto 56rem;
    width: auto;
  }
}
/* line 524, ../sass/layout/_l-layout.scss */
footer .section__footer--right p {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2rem;
  font-size: 18px;
  height: 2rem;
  width: auto;
}
@media screen and (min-width: 740px) {
  /* line 524, ../sass/layout/_l-layout.scss */
  footer .section__footer--right p {
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: 4rem;
    font-size: 16px;
    height: 2.5rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 524, ../sass/layout/_l-layout.scss */
  footer .section__footer--right p {
    margin-left: 3rem;
    font-size: 20px;
    height: 2.5rem;
    width: auto;
    padding-top: 1rem;
  }
}
/* line 557, ../sass/layout/_l-layout.scss */
footer .btn--footer {
  float: left;
  margin: 6rem auto 3rem 59rem;
}

/*modules*/
/********************section banner********************/
/* line 2, ../sass/modules/_m-home.scss */
.section__banner {
  height: auto;
  background-color: #033752;
}
@media screen and (min-width: 740px) {
  /* line 2, ../sass/modules/_m-home.scss */
  .section__banner {
    background-color: white;
  }
}
/* line 10, ../sass/modules/_m-home.scss */
.section__banner .bg__banner {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 10, ../sass/modules/_m-home.scss */
  .section__banner .bg__banner {
    display: block;
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 1124px) {
  /* line 10, ../sass/modules/_m-home.scss */
  .section__banner .bg__banner {
    display: block;
    width: 90%;
  }
}
/* line 23, ../sass/modules/_m-home.scss */
.section__banner .header__lg {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 23, ../sass/modules/_m-home.scss */
  .section__banner .header__lg {
    margin: -29rem auto auto 25rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: auto;
    position: absolute;
  }
}
@media screen and (min-width: 1124px) {
  /* line 23, ../sass/modules/_m-home.scss */
  .section__banner .header__lg {
    margin: -44rem auto auto 38rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: auto;
    position: absolute;
  }
}
/* line 49, ../sass/modules/_m-home.scss */
.section__banner .header__mobile {
  margin-top: 3rem;
  z-index: 0;
  height: auto;
}
@media screen and (min-width: 740px) {
  /* line 49, ../sass/modules/_m-home.scss */
  .section__banner .header__mobile {
    display: none;
  }
}
/* line 57, ../sass/modules/_m-home.scss */
.section__banner .l-logo__sm {
  margin-top: -4rem;
  display: block;
  position: absolute;
  width: 50%;
}
@media screen and (min-width: 740px) {
  /* line 57, ../sass/modules/_m-home.scss */
  .section__banner .l-logo__sm {
    display: none;
  }
}
/* line 68, ../sass/modules/_m-home.scss */
.section__banner .l-logo__lg {
  display: block;
  position: absolute;
  width: 50%;
  margin-top: -7rem;
  margin-left: 2rem;
}
@media screen and (min-width: 740px) {
  /* line 68, ../sass/modules/_m-home.scss */
  .section__banner .l-logo__lg {
    display: block;
    position: absolute;
    width: 30%;
    margin: -28rem auto auto 6rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 68, ../sass/modules/_m-home.scss */
  .section__banner .l-logo__lg {
    margin: -44rem auto auto 8rem;
  }
}
/* line 86, ../sass/modules/_m-home.scss */
.section__banner .point__banner {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 86, ../sass/modules/_m-home.scss */
  .section__banner .point__banner {
    display: block;
    position: absolute;
    width: 20%;
    margin: -15rem auto auto 14rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 86, ../sass/modules/_m-home.scss */
  .section__banner .point__banner {
    width: 15%;
    margin: -15rem auto auto 14rem;
  }
}
/* line 101, ../sass/modules/_m-home.scss */
.section__banner .txt__presentation {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 70%;
  margin: -4rem auto auto 0rem;
}
@media screen and (min-width: 740px) {
  /* line 101, ../sass/modules/_m-home.scss */
  .section__banner .txt__presentation {
    display: block;
    position: absolute;
    width: 120%;
    margin: 2rem auto auto auto;
    text-align: right;
  }
}
@media screen and (min-width: 1124px) {
  /* line 101, ../sass/modules/_m-home.scss */
  .section__banner .txt__presentation {
    margin: -4rem auto auto auto;
    text-align: right;
  }
}
/* line 122, ../sass/modules/_m-home.scss */
.section__banner .crl--blue {
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: auto auto auto auto;
  color: white;
  padding-bottom: 2rem;
}
/* line 132, ../sass/modules/_m-home.scss */
.section__banner .crl--blue ::before {
  content: ">";
  color: #4eb748;
}
@media screen and (min-width: 740px) {
  /* line 122, ../sass/modules/_m-home.scss */
  .section__banner .crl--blue {
    display: flex;
    justify-content: left;
    margin: -9rem auto auto 8rem;
    color: white;
  }
}
@media screen and (min-width: 1124px) {
  /* line 122, ../sass/modules/_m-home.scss */
  .section__banner .crl--blue {
    margin: -8rem auto auto 10rem;
  }
}
/* line 149, ../sass/modules/_m-home.scss */
.section__banner .btn__banner {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
@media screen and (min-width: 740px) {
  /* line 149, ../sass/modules/_m-home.scss */
  .section__banner .btn__banner {
    margin: 0;
    margin-right: 5rem;
    padding: auto 2rem auto 1rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 149, ../sass/modules/_m-home.scss */
  .section__banner .btn__banner {
    padding: auto 2rem auto 1rem;
    width: 15rem;
  }
}
/* line 169, ../sass/modules/_m-home.scss */
.section__banner .txt--liner {
  color: white;
  text-align: center;
  line-height: 2rem;
  margin: 2rem 2rem 2rem 2rem;
  padding-bottom: 2rem;
}
/* line 177, ../sass/modules/_m-home.scss */
.section__banner .txt--liner span {
  border-bottom: solid 2px #2999d1;
}
@media screen and (min-width: 740px) {
  /* line 169, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner {
    display: block;
    position: absolute;
    width: 30%;
    margin: -26rem auto auto 6rem;
    text-align: left;
    font-size: 17px;
  }
  /* line 189, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner span {
    border-bottom: solid 2px #2999d1;
  }
  /* line 192, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner p {
    margin-left: -3rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 169, ../sass/modules/_m-home.scss */
  .section__banner .txt--liner {
    margin: -33rem auto auto 8rem;
  }
}

/********************wrap page home********************/
/* line 208, ../sass/modules/_m-home.scss */
.wrap {
  max-width: 1124px;
  height: auto;
  margin: auto;
  /********************section detail********************/
  /********************section logo********************/
  /********************section creations********************/
}
/* line 217, ../sass/modules/_m-home.scss */
.wrap .section__detail {
  min-height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 740px) {
  /* line 217, ../sass/modules/_m-home.scss */
  .wrap .section__detail {
    height: auto;
    margin-top: 10rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 217, ../sass/modules/_m-home.scss */
  .wrap .section__detail {
    background: none;
    height: auto;
  }
}
/* line 239, ../sass/modules/_m-home.scss */
.wrap .section__detail .title__primary {
  font-style: italic;
  margin: 3rem auto 1rem auto;
  text-align: left;
  color: #033752;
  width: 100%;
  font-size: 30px;
}
/* line 248, ../sass/modules/_m-home.scss */
.wrap .section__detail .title__primary span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-weight: bold;
  font-style: normal;
}
@media screen and (min-width: 740px) {
  /* line 239, ../sass/modules/_m-home.scss */
  .wrap .section__detail .title__primary {
    margin: 1rem auto -4rem auto;
    font-size: 30px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 239, ../sass/modules/_m-home.scss */
  .wrap .section__detail .title__primary {
    margin: 3rem auto auto 5rem;
    font-size: 30px;
    text-align: left;
    width: 20rem;
    line-height: 2rem;
  }
}
/* line 268, ../sass/modules/_m-home.scss */
.wrap .section__detail .crl--green {
  font-style: normal;
  width: 100%;
  margin: auto auto auto auto;
  text-align: left;
  color: #033752;
  line-height: 2rem;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}
/* line 282, ../sass/modules/_m-home.scss */
.wrap .section__detail .crl--green span {
  color: #4eb748;
  font-weight: normal;
}
@media screen and (min-width: 740px) {
  /* line 268, ../sass/modules/_m-home.scss */
  .wrap .section__detail .crl--green {
    margin: 7rem auto auto auto;
    font-size: 20px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 268, ../sass/modules/_m-home.scss */
  .wrap .section__detail .crl--green {
    margin: 2rem auto 2rem 5rem;
    font-size: 24px;
    text-align: left;
    width: 30rem;
    line-height: 2rem;
  }
}
/* line 307, ../sass/modules/_m-home.scss */
.wrap .section__detail .txt__liner--green-2 {
  margin: 1.5rem auto auto auto;
  text-align: center;
  text-align: left;
  color: #033752;
  width: auto;
  font-size: 20px;
  line-height: 2rem;
}
/* line 318, ../sass/modules/_m-home.scss */
.wrap .section__detail .txt__liner--green-2 span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-style: normal;
}
@media screen and (min-width: 1124px) {
  /* line 307, ../sass/modules/_m-home.scss */
  .wrap .section__detail .txt__liner--green-2 {
    margin: 0rem auto auto 5rem;
    font-size: 20px;
    text-align: left;
    width: 30rem;
    line-height: 2rem;
  }
}
/* line 340, ../sass/modules/_m-home.scss */
.wrap .section__detail .cadre__detail .img__detail--mobile {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 340, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--mobile {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  /* line 340, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--mobile {
    display: block;
    width: 85%;
    float: right;
    margin-top: 3rem;
  }
}
/* line 358, ../sass/modules/_m-home.scss */
.wrap .section__detail .cadre__detail .img__detail--lg {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 358, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--lg {
    display: none;
  }
}
@media screen and (min-width: 1124px) {
  /* line 358, ../sass/modules/_m-home.scss */
  .wrap .section__detail .cadre__detail .img__detail--lg {
    display: none;
    width: 75%;
    float: right;
    margin-top: 9rem;
  }
}
/* line 376, ../sass/modules/_m-home.scss */
.wrap .section__detail .btn--detail {
  margin: 2rem auto 2rem auto;
}
@media screen and (min-width: 740px) {
  /* line 376, ../sass/modules/_m-home.scss */
  .wrap .section__detail .btn--detail {
    margin: 2rem auto auto 20rem;
  }
}
/* line 391, ../sass/modules/_m-home.scss */
.wrap .section__logo {
  height: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
  display: inline-block;
}
@media screen and (min-width: 740px) {
  /* line 391, ../sass/modules/_m-home.scss */
  .wrap .section__logo {
    padding-bottom: 0;
  }
}
/* line 409, ../sass/modules/_m-home.scss */
.wrap .section__logo .title__liner--green p {
  margin: 2rem 1rem -2rem 1rem;
  color: #033752;
  width: 95%;
  font-size: 28px;
  line-height: 2rem;
}
/* line 416, ../sass/modules/_m-home.scss */
.wrap .section__logo .title__liner--green p span {
  border-bottom: solid 3px #4eb748;
  color: #033752;
  font-style: normal;
}
@media screen and (min-width: 740px) {
  /* line 409, ../sass/modules/_m-home.scss */
  .wrap .section__logo .title__liner--green p {
    margin: 6rem auto -5rem 5rem;
    font-size: 30px;
    line-height: 2rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 409, ../sass/modules/_m-home.scss */
  .wrap .section__logo .title__liner--green p {
    margin: 8rem auto 0rem 5rem;
    font-size: 30px;
    text-align: left;
    width: 30rem;
  }
}
/* line 438, ../sass/modules/_m-home.scss */
.wrap .section__logo .txt--blue {
  color: #033752;
  width: 100%;
  font-size: 12px;
  line-height: 2rem;
}
/* line 444, ../sass/modules/_m-home.scss */
.wrap .section__logo .txt--blue p {
  margin-top: 2rem;
  margin-left: 2rem;
}
@media screen and (min-width: 740px) {
  /* line 438, ../sass/modules/_m-home.scss */
  .wrap .section__logo .txt--blue {
    margin: 6rem auto 5rem 20rem;
    width: 50%;
  }
}
@media screen and (min-width: 1124px) {
  /* line 438, ../sass/modules/_m-home.scss */
  .wrap .section__logo .txt--blue {
    margin: 5rem auto 8rem 0rem;
  }
}
/* line 461, ../sass/modules/_m-home.scss */
.wrap .section__logo .cadre__logo {
  width: 100%;
  margin: 4rem auto auto auto;
}
@media screen and (min-width: 740px) {
  /* line 461, ../sass/modules/_m-home.scss */
  .wrap .section__logo .cadre__logo {
    margin: 10rem auto auto auto;
    width: 100%;
  }
}
@media screen and (min-width: 1124px) {
  /* line 461, ../sass/modules/_m-home.scss */
  .wrap .section__logo .cadre__logo {
    width: 100%;
    margin: 4rem auto auto auto;
  }
}
/* line 478, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo {
  width: auto;
  height: auto;
  margin: -7rem auto auto auto;
  text-align: center;
}
@media screen and (min-width: 740px) {
  /* line 478, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo {
    margin: -8rem auto auto auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 478, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo {
    margin: -6rem auto auto auto;
  }
}
/* line 494, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo img.point--logo {
  width: 20%;
  margin-top: -18rem;
}
/* line 499, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo .logo__partners {
  width: 5rem;
  height: auto;
  margin: auto;
  padding: 0.5rem;
  border-color: 3px solid #033752;
}
/* line 508, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo .logo__partners:hover {
  border: 1px solid #033752;
  border-radius: 15px;
  transform: scale(1.2);
}
@media screen and (min-width: 740px) {
  /* line 499, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo .logo__partners {
    width: 7rem;
    margin: -5rem auto 3rem auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 499, ../sass/modules/_m-home.scss */
  .wrap .section__logo .content__logo .logo__partners {
    width: 9rem;
    margin: -10rem auto 3rem auto;
  }
}
/* line 526, ../sass/modules/_m-home.scss */
.wrap .section__logo .content__logo .logo__partners:hover {
  border: 2px solid #033752;
  border-radius: 15px;
  transform: scale(1.5);
}
/* line 540, ../sass/modules/_m-home.scss */
.wrap .section__creation {
  height: auto;
  width: 100%;
  margin: 4rem 1rem 0 auto;
  display: block;
  background-color: #033752;
  padding-bottom: 4rem;
}
@media screen and (min-width: 740px) {
  /* line 540, ../sass/modules/_m-home.scss */
  .wrap .section__creation {
    height: auto;
    padding: 1rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 540, ../sass/modules/_m-home.scss */
  .wrap .section__creation {
    height: auto;
    background-color: transparent;
    margin-top: -4rem;
  }
}
/* line 559, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation {
  display: block;
}
/* line 562, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation img.bg {
  display: none;
}
@media screen and (min-width: 1124px) {
  /* line 562, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation img.bg {
    display: block;
    width: 105%;
    max-width: 1124px;
    max-height: 120%;
    position: absolute;
    margin-top: 0rem;
    float: right;
    margin-left: 4rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 559, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation {
    position: relative;
  }
}
/* line 579, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .desc-creation {
  height: auto;
  width: 100%;
  z-index: 999;
  padding-top: 2rem;
}
@media screen and (min-width: 1124px) {
  /* line 579, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .desc-creation {
    margin: -1rem auto auto auto;
    position: absolute;
  }
}
/* line 594, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .desc-creation .title__creation {
  margin: auto 1rem auto 1rem;
  color: white;
  line-height: 2rem;
  z-index: 999;
  font-weight: inherit;
  font-size: 20px;
  text-align: left;
}
@media screen and (min-width: 740px) {
  /* line 594, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .desc-creation .title__creation {
    margin: auto  auto auto auto;
    text-align: left;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 594, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .desc-creation .title__creation {
    margin: 1rem 3rem auto 0rem;
    color: white;
    font-size: 24px;
    text-align: right;
    z-index: 997;
    line-height: 2.5rem;
  }
}
/* line 624, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .desc-creation .txt__creation {
  z-index: 999;
  color: white;
  line-height: 2rem;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  margin: 2rem 1rem -1rem 1rem;
}
@media screen and (min-width: 740px) {
  /* line 624, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .desc-creation .txt__creation {
    margin: 1rem  auto 1rem 3rem;
    position: relative;
    text-align: left;
  }
}
@media screen and (min-width: 1124px) {
  /* line 624, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .desc-creation .txt__creation {
    margin: 6rem 3rem auto 28rem;
    text-align: right;
    width: 60%;
    z-index: 997;
    font-size: 19px;
  }
}
/* line 655, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .list {
  margin: 2rem 1rem auto 0rem;
  width: auto;
  position: relative;
  z-index: 998;
}
@media screen and (min-width: 740px) {
  /* line 655, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .list {
    margin: auto  auto auto 3rem;
    position: absolute;
    justify-items: space-between;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 655, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .list {
    margin: 2rem auto auto 6rem;
    width: 80%;
    text-align: left;
  }
}
/* line 676, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .list .first-list {
  width: auto;
  margin-left: 0rem;
}
@media screen and (min-width: 740px) {
  /* line 676, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .list .first-list {
    width: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 676, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .list .first-list {
    width: 70%;
    margin: 15rem  1rem auto 25rem;
    line-height: 3rem;
  }
}
/* line 690, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .list .first-list li {
  font-size: 18px;
  color: white;
  font-style: italic;
  width: auto;
  line-height: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  justify-content: flex-start;
}
@media screen and (min-width: 740px) {
  /* line 690, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .list .first-list li {
    margin: 0rem  auto auto 0rem;
    font-size: 16px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 690, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .list .first-list li {
    margin: 0;
    width: auto;
    padding-bottom: 1rem;
    font-size: 18px;
  }
}
/* line 719, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .list .first-list li .checked {
  width: 1rem;
  margin: 0.8rem  0.5rem 0rem 0rem;
  padding-top: 5px;
  justify-content: space-between;
}
@media screen and (min-width: 740px) {
  /* line 719, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .list .first-list li .checked {
    width: 1rem;
    margin: 0rem 0.5rem auto 0rem;
    line-height: 1rem;
  }
}
/* line 740, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .btn__creation {
  justify-content: center;
  margin: 2rem 2rem auto auto;
  position: relative;
  display: flex;
  flex-direction: end;
  width: auto;
}
@media screen and (min-width: 740px) {
  /* line 740, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .btn__creation {
    margin-top: 7rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 740, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .btn__creation {
    margin-top: -9rem;
    text-align: left;
  }
}
/* line 762, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .illu-creation {
  position: relative;
  margin: 2rem  1rem 4rem 1rem;
}
@media screen and (min-width: 740px) {
  /* line 762, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .illu-creation {
    position: relative;
    margin-top: 11rem;
  }
}
/* line 773, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .illu-creation .photo__creation {
  display: block;
  position: relative;
}
@media screen and (min-width: 740px) {
  /* line 773, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .illu-creation .photo__creation {
    display: block;
    margin-top: auto;
    width: 60%;
    height: auto;
    align-content: center;
    margin: auto;
    z-index: 998;
  }
}
@media screen and (min-width: 1124px) {
  /* line 773, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .illu-creation .photo__creation {
    display: block;
    margin: 10rem auto auto -2rem;
    position: relative;
    width: 45%;
    height: auto;
    padding-top: 4rem;
  }
}
/* line 800, ../sass/modules/_m-home.scss */
.wrap .section__creation .cadre__creation .illu-creation .point__creation {
  display: flex;
  width: 40%;
  float: right;
  margin: -6.5rem auto auto auto;
}
@media screen and (min-width: 740px) {
  /* line 800, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .illu-creation .point__creation {
    display: block;
    width: 20%;
    margin-top: -7rem;
    margin-left: 30rem;
    position: absolute;
    z-index: 997;
  }
}
@media screen and (min-width: 1124px) {
  /* line 800, ../sass/modules/_m-home.scss */
  .wrap .section__creation .cadre__creation .illu-creation .point__creation {
    display: block;
    margin: -8rem auto auto 23rem;
    width: 10rem;
  }
}

/********************section contact********************/
/* line 2, ../sass/modules/_m-contact.scss */
.section__contact {
  height: auto;
  background-color: #033752;
  /********************contact presentation********************/
}
@media screen and (min-width: 740px) {
  /* line 2, ../sass/modules/_m-contact.scss */
  .section__contact {
    background-color: white;
  }
}
/* line 10, ../sass/modules/_m-contact.scss */
.section__contact .bg__contact {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 10, ../sass/modules/_m-contact.scss */
  .section__contact .bg__contact {
    display: block;
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 1124px) {
  /* line 10, ../sass/modules/_m-contact.scss */
  .section__contact .bg__contact {
    display: block;
    width: 90%;
  }
}
/* line 23, ../sass/modules/_m-contact.scss */
.section__contact .header__map {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 23, ../sass/modules/_m-contact.scss */
  .section__contact .header__map {
    margin: -29rem auto auto 25rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: auto;
    position: absolute;
  }
}
@media screen and (min-width: 1124px) {
  /* line 23, ../sass/modules/_m-contact.scss */
  .section__contact .header__map {
    margin: -40rem auto auto 38rem;
    float: right;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    width: 50%;
    height: 80%;
    position: absolute;
  }
}
/* line 49, ../sass/modules/_m-contact.scss */
.section__contact .header__mobile {
  margin-top: 3rem;
  z-index: 0;
  height: auto;
}
@media screen and (min-width: 740px) {
  /* line 49, ../sass/modules/_m-contact.scss */
  .section__contact .header__mobile {
    display: none;
  }
}
/* line 57, ../sass/modules/_m-contact.scss */
.section__contact .l-logo__sm {
  margin-top: -4rem;
  display: block;
  position: absolute;
  width: 50%;
}
@media screen and (min-width: 740px) {
  /* line 57, ../sass/modules/_m-contact.scss */
  .section__contact .l-logo__sm {
    display: none;
  }
}
/* line 68, ../sass/modules/_m-contact.scss */
.section__contact .l-logo__lg {
  display: block;
  position: absolute;
  width: 50%;
  margin-top: -7rem;
  margin-left: 2rem;
}
@media screen and (min-width: 740px) {
  /* line 68, ../sass/modules/_m-contact.scss */
  .section__contact .l-logo__lg {
    display: block;
    position: absolute;
    width: 17%;
    margin: -28rem auto auto 6rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 68, ../sass/modules/_m-contact.scss */
  .section__contact .l-logo__lg {
    margin: -47.5rem auto auto 6rem;
    position: fixed;
    z-index: 999;
  }
}
/* line 91, ../sass/modules/_m-contact.scss */
.section__contact .point__contact {
  display: none;
}
@media screen and (min-width: 740px) {
  /* line 91, ../sass/modules/_m-contact.scss */
  .section__contact .point__contact {
    display: block;
    position: absolute;
    width: 20%;
    margin: -15rem auto auto 14rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 91, ../sass/modules/_m-contact.scss */
  .section__contact .point__contact {
    width: 15%;
    margin: -15rem auto auto 24rem;
    z-index: 999;
  }
}
/* line 107, ../sass/modules/_m-contact.scss */
.section__contact .description {
  display: block;
  position: absolute;
  margin: 30rem auto auto auto;
  color: white;
  padding-bottom: 2rem;
  z-index: 1000;
}
/* line 118, ../sass/modules/_m-contact.scss */
.section__contact .description .detail {
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: auto auto auto auto;
  color: white;
  padding-bottom: 2rem;
}
@media screen and (min-width: 740px) {
  /* line 118, ../sass/modules/_m-contact.scss */
  .section__contact .description .detail {
    display: flex;
    justify-content: left;
    margin: -9rem auto auto 8rem;
    color: white;
  }
}
@media screen and (min-width: 1124px) {
  /* line 118, ../sass/modules/_m-contact.scss */
  .section__contact .description .detail {
    margin: -8rem auto auto 10rem;
  }
}
/* line 152, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact p.message {
  line-height: 1.7rem;
  color: black;
  margin-bottom: 5rem;
  text-align: justify;
  margin: 1rem;
}
/* line 161, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact p.message input.checkbox {
  text-align: justify;
  margin-right: 1rem;
}
/* line 169, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact .formulaire {
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 0;
  padding: 0.5rem 0rem 0rem 0rem;
  margin: 1rem auto 1rem auto;
  position: relative;
}
/* line 180, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact .formulaire input[type=text], .section__contact .wrap__page--contact .formulaire input[type=tel], .section__contact .wrap__page--contact .formulaire input[type=email] {
  display: inline-block;
  border: o;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  color: black;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  text-align: left;
  padding: 5px;
}
/* line 195, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact .formulaire input[placeholder=""] {
  background-color: antiquewhite;
}
/* line 200, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact .formulaire textarea {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  margin-top: 8px;
  margin-bottom: 40px;
  padding: 12px;
  border-radius: 8px;
  resize: vertical, horizontal;
}
/* line 210, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact .formulaire #message-confirmation {
  font-size: 1rem;
  margin-top: 2rem;
  text-align: center;
}
/* line 219, ../sass/modules/_m-contact.scss */
.section__contact .wrap__page--contact .btn.btn__contact {
  display: block;
  margin-top: 1rem;
  text-align: center;
  max-width: auto;
}
@media screen and (min-width: 740px) {
  /* line 219, ../sass/modules/_m-contact.scss */
  .section__contact .wrap__page--contact .btn.btn__contact {
    margin: 0;
    margin-right: 5rem;
    padding: auto 2rem auto 1rem;
    width: auto;
  }
}
@media screen and (min-width: 1124px) {
  /* line 219, ../sass/modules/_m-contact.scss */
  .section__contact .wrap__page--contact .btn.btn__contact {
    padding: auto 2rem auto 1rem;
    width: 15rem;
    margin: auto;
    float: left;
  }
}
