.wrap-m-portfolio{
    position: relative;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;

/*#SECTION BANNER================== */
.section-portfolio{
    height: auto;
    background-image: linear-gradient(to right, map-get($colors, bannerBg1), map-get($colors, bannerBg2));
    width: 100%;
    margin-top: -1rem;


    .banner{
        text-transform: none;
        color:map-get($colors, main);
        font-size: 50px;
        margin-left:auto;
        margin-right: auto;
        text-align: center;
        padding-top: 3rem;
    }
    
    ul{
        text-align: center;
        font-size: 18px;

        li{
            color:map-get($colors, main);
            display: inline-block;
            
            
        }
        a{
            color:map-get($colors, main);
            text-decoration: none;
            font-size: 18px;
            cursor: pointer;

            &:hover{
                color: map-get($colors,bannerBg2);
                font-weight: bolder;
            }
        }

        .lnr{
            padding-right: 1rem;
            padding-left: 1.2rem;
        }
    }

        
        
        
        @media screen and (min-width: map-get($breakpoint, md)) {

        }
        @media screen and (min-width: map-get($breakpoint, lg)) {
            
        }

}

/*#SECTION GALERY================== */
.section-gallery{
    height: auto;
    margin-top: 5rem;

    @media screen and (min-width: map-get($breakpoint, md)) {
    
    }

    @media screen and (min-width: map-get($breakpoint, lg)) {
        
        }

    .wrap{

        @media screen and (min-width: map-get($breakpoint, lg)) {
            
            display: block;
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 3rem;
        }

        img{
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;

        }

        .gallery{
            margin-bottom: 6rem;
            
            
            .title{
                margin-top: -0.5rem;
                text-align: center; 
                
            }
            p{
                text-align: center;
                
            }
    }
}

}

}