
/* mobile first css */

*, *:before, *:after {
    @include box-sizing(border-box);
}


@font-face {
    font-family: 'primary-font';
    src:local('.\font\Segoe UI.ttf') format('ttf'),
        local('.\font\Segoe UI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'secondary-font';
    src:local('.\font\Quicksand_Light.otf') format('otf'),
        local('.\font\Quicksand_Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
    
}


body {
    background-color: white;
    margin: 0rem;
    padding: 0rem;
    width: auto; 
    font-size: 20px;
    font-family: map-get($fonts, primary-font );
}

main{
    margin: 0rem;
    padding: 0rem;
}

h1 {

}


a {
    
}


img {
    width: 100%;
    height: auto;
}

p{
    font-size:  20px;
    line-height: 2rem;
}


.btn {
    background-color:map-get($colors , primaryGreen); 
    border-bottom-right-radius:15px;
    border: none;
    color: white;
    padding: 0.5rem 0.5rem;
    text-align: center;
    margin:2rem auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
    max-width:60%;
    font-weight: bold;

    display: flex;
    

        &:hover{
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
            color:map-get($colors , primary);  ;
        }

    .post{
        display: flex;
        justify-content: space-between;
        width: 20%;
        height: auto;
        
    }
    }