
$break-point: (
    md:  740px,
    lg:  1124px,
);

$fonts: (
    
    primary-font: "Segoe UI",
    secondary-font: "Quicksand"

);

$default-font-size: 20px;

$colors: (
    main:             white,
    primary:          #033752,
    primaryGreen:     #4eb748,
    second:           #04486a,
    secondary-middle: #077cb7,
    secondary-light:  #2999d1,
);