/* 
    Created on : 02-05-2020, 20:01:31
    Author     : Sylviana Vanmessen
*/
/* Make css mobile first */
/* Reset for better compatibility */
/* line 1, ../sass/base/_reset.scss */
html, body, div, span, h1, h2, p, a, strong, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table,
tbody, tfoot, thead, tr, th, td, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* Base */
/* mobile first css */
/* line 4, ../sass/base/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/base/_base.scss */
html {
  font-size: 100%;
}

/* line 15, ../sass/base/_base.scss */
body {
  background-color: white;
  margin: 0rem;
  padding: 0rem;
  width: auto;
  font-size: 20px;
  font-family: "Poppins";
}

/* line 24, ../sass/base/_base.scss */
main {
  margin-top: 5rem;
  padding: 0rem;
}

/* line 31, ../sass/base/_base.scss */
h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  text-align: left;
  margin-top: 1rem;
  letter-spacing: 4px;
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* line 44, ../sass/base/_base.scss */
h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  margin-top: 2rem;
  color: black;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* line 57, ../sass/base/_base.scss */
h3 {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-top: 2rem;
  color: black;
  font-weight: bolder;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* line 69, ../sass/base/_base.scss */
h4 {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin-top: 2rem;
  color: black;
  font-weight: bolder;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* line 81, ../sass/base/_base.scss */
h5 {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin-top: -1rem;
  color: #777777;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* line 93, ../sass/base/_base.scss */
a {
  font-size: 20px;
}

/* line 98, ../sass/base/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 104, ../sass/base/_base.scss */
p {
  font-size: 16px;
  line-height: 1.5rem;
  color: #777777;
  margin: 1rem 2rem auto 2rem;
}

/* line 113, ../sass/base/_base.scss */
.btn {
  background-image: linear-gradient(to right, #8490ff, #62bdfc);
  color: #fff;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  width: 12rem;
  display: block;
  font-weight: bolder;
}
/* line 126, ../sass/base/_base.scss */
.btn:hover {
  box-shadow: 0 6px 10px 0 rgba(52, 52, 52, 0.1);
}

/* Grid system inspired by boostrap */
/* line 3, ../sass/tools/_grid.scss */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* line 8, ../sass/tools/_grid.scss */
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

/* line 15, ../sass/tools/_grid.scss */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 720px) {
  /* line 23, ../sass/tools/_grid.scss */
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 960px) {
  /* line 23, ../sass/tools/_grid.scss */
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 30, ../sass/tools/_grid.scss */
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* layout */
/*#header & menu ham================== */
/* line 2, ../sass/layout/_l-header.scss */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0rem auto 0rem 0rem;
  z-index: 0;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.041);
}

@media screen and (min-width: 960px) {
  /* line 18, ../sass/layout/_l-header.scss */
  .wrap-l-header {
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

/* line 30, ../sass/layout/_l-header.scss */
.logo-l-header {
  display: block;
  width: 9.5rem;
  margin: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  /* line 30, ../sass/layout/_l-header.scss */
  .logo-l-header {
    margin-left: 1rem;
  }
}

/* line 39, ../sass/layout/_l-header.scss */
.menu-hamburger {
  z-index: 999;
  width: 2rem;
  height: 2rem;
  margin: -2.5rem 2rem 1rem 1rem;
  right: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  position: fixed;
}
@media screen and (min-width: 960px) {
  /* line 39, ../sass/layout/_l-header.scss */
  .menu-hamburger {
    display: none;
  }
}
/* line 56, ../sass/layout/_l-header.scss */
.menu-hamburger span {
  display: block;
  position: absolute;
  height: .16rem;
  width: 100%;
  margin-top: -.16rem;
  background: black;
  border-radius: 0.15rem;
  opacity: 1;
  left: 0;
  z-index: 999;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 72, ../sass/layout/_l-header.scss */
.menu-hamburger span:nth-child(1) {
  top: 0;
}
/* line 76, ../sass/layout/_l-header.scss */
.menu-hamburger span:nth-child(2), .menu-hamburger span:nth-child(3) {
  top: .6rem;
}
/* line 80, ../sass/layout/_l-header.scss */
.menu-hamburger span:nth-child(4) {
  top: 1.2rem;
}
@media screen and (min-width: 960px) {
  /* line 56, ../sass/layout/_l-header.scss */
  .menu-hamburger span {
    display: none;
  }
}
/* line 89, ../sass/layout/_l-header.scss */
.menu-hamburger.is-open {
  position: relative;
  z-index: 999;
  display: block;
  float: right;
}
/* line 94, ../sass/layout/_l-header.scss */
.menu-hamburger.is-open span {
  background: black;
}
/* line 97, ../sass/layout/_l-header.scss */
.menu-hamburger.is-open span:nth-child(1) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 103, ../sass/layout/_l-header.scss */
.menu-hamburger.is-open span:nth-child(2) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 107, ../sass/layout/_l-header.scss */
.menu-hamburger.is-open span:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 111, ../sass/layout/_l-header.scss */
.menu-hamburger.is-open span:nth-child(4) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 118, ../sass/layout/_l-header.scss */
.menu-hamburger.is-open:before {
  background: transparent;
}

/* line 125, ../sass/layout/_l-header.scss */
.l-menu-main {
  text-align: left;
  z-index: 999;
  margin-top: -4rem;
  width: 100%;
  height: auto;
  display: none;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background-color: rgba(4, 6, 29, 0.37);
}
@media screen and (min-width: 960px) {
  /* line 125, ../sass/layout/_l-header.scss */
  .l-menu-main {
    display: inline-block;
    background: transparent;
  }
}
/* line 142, ../sass/layout/_l-header.scss */
.l-menu-main.is-visible {
  right: 0;
  display: block;
  right: -100rem;
}
/* line 149, ../sass/layout/_l-header.scss */
.l-menu-main .is-active {
  color: #8490ff;
}
/* line 157, ../sass/layout/_l-header.scss */
.l-menu-main ul {
  margin-top: -1rem;
  padding-top: 6rem;
  text-align: left;
  background-color: rgba(46, 44, 47, 0.9);
  width: 70%;
  height: 100vh;
}
@media screen and (min-width: 960px) {
  /* line 157, ../sass/layout/_l-header.scss */
  .l-menu-main ul {
    display: inline-block;
    float: right;
    padding: 2rem;
    background: transparent;
    margin-top: -1.5rem;
  }
}
@media screen and (min-width: 960px) {
  /* line 177, ../sass/layout/_l-header.scss */
  .l-menu-main ul li {
    display: inline-block;
  }
}
/* line 185, ../sass/layout/_l-header.scss */
.l-menu-main ul a {
  text-decoration: none;
  padding: 1rem 2rem;
  text-align: left;
  line-height: 3rem;
  color: #fff;
}
/* line 193, ../sass/layout/_l-header.scss */
.l-menu-main ul a:hover {
  color: #8490ff;
}
@media screen and (min-width: 960px) {
  /* line 185, ../sass/layout/_l-header.scss */
  .l-menu-main ul a {
    color: black;
    font-size: 20px;
  }
}
@media screen and (min-width: 960px) {
  /* line 157, ../sass/layout/_l-header.scss */
  .l-menu-main ul {
    width: auto;
    height: auto;
    display: block;
    position: relative;
    right: 0;
    background: transparent;
  }
}
/* line 217, ../sass/layout/_l-header.scss */
.l-menu-main ul.is-visible {
  right: 0rem;
}

/*#footer================== */
/* line 2, ../sass/layout/_l-footer.scss */
footer {
  background-color: #06081d;
  padding-top: 5rem;
  padding: 5rem 3rem 5rem 3rem;
}
/* line 8, ../sass/layout/_l-footer.scss */
footer .title {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin-top: 2rem;
  color: #fff;
  margin-left: -1rem;
  margin-right: 1rem;
}
/* line 21, ../sass/layout/_l-footer.scss */
footer .copyright a {
  color: #8490ff;
  text-decoration: none;
  font-size: 18px;
}
@media screen and (min-width: 720px) {
  /* line 30, ../sass/layout/_l-footer.scss */
  footer .news {
    margin-left: -2rem;
  }
}
@media screen and (min-width: 720px) {
  /* line 36, ../sass/layout/_l-footer.scss */
  footer .follow {
    margin-left: 2rem;
  }
}
/* line 44, ../sass/layout/_l-footer.scss */
footer p {
  margin-left: -1rem;
  margin-right: 1rem;
  font-size: 14px;
  max-width: 200px;
}
@media screen and (min-width: 960px) {
  /* line 53, ../sass/layout/_l-footer.scss */
  footer .title {
    padding-left: 4rem;
  }
  /* line 56, ../sass/layout/_l-footer.scss */
  footer p {
    padding-left: 4rem;
    max-width: 400px;
    font-size: 18px;
  }
}
/* line 67, ../sass/layout/_l-footer.scss */
footer form input {
  padding: 0.7rem;
  width: 12rem;
  margin-left: -1rem;
  margin-top: 2rem;
  font-size: 18px;
  color: #8490ff;
  border: solid 1.5px #8490ff;
}
@media screen and (min-width: 720px) {
  /* line 67, ../sass/layout/_l-footer.scss */
  footer form input {
    padding: 0.5rem;
    width: 12rem;
    margin-left: -2rem;
    margin-top: 2rem;
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  /* line 67, ../sass/layout/_l-footer.scss */
  footer form input {
    margin-left: 2rem;
    width: 15rem;
  }
}
/* line 92, ../sass/layout/_l-footer.scss */
footer form .lnr.lnr-arrow-right {
  font-size: 1.2rem;
  margin-left: -0.5rem;
  padding-bottom: 0.9rem;
  padding-top: 0.78rem;
  background-color: #8490ff;
  color: #fff;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 720px) {
  /* line 92, ../sass/layout/_l-footer.scss */
  footer form .lnr.lnr-arrow-right {
    padding-bottom: 0.76rem;
    padding-top: 0.54rem;
  }
}
@media screen and (min-width: 960px) {
  /* line 111, ../sass/layout/_l-footer.scss */
  footer .icone-social {
    margin-left: 3rem;
  }
}
/* line 119, ../sass/layout/_l-footer.scss */
footer .icone-social a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: -2rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 960px) {
  /* line 119, ../sass/layout/_l-footer.scss */
  footer .icone-social a {
    font-size: 18px;
    margin-left: 3rem;
  }
}

/*modules*/
/*#PAGE INDEX================== */
/* line 2, ../sass/modules/_m-home.scss */
.wrap-m-home {
  position: relative;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*#SECTION STUDENT================== */
  /*#SECTION ABOUT================== */
  /*#SECTION SERVICES================== */
  /*#SECTION STAT================== */
  /*#SECTION GALERY================== */
  /*#SECTION BLOG================== */
  /*#SECTION SLIDE================== */
}
/* line 11, ../sass/modules/_m-home.scss */
.wrap-m-home .section-student {
  background-color: #faf9ff;
  margin-top: -1rem;
  width: auto;
}
/* line 17, ../sass/modules/_m-home.scss */
.wrap-m-home .section-student .wrap {
  height: 200vh;
  width: auto;
}
@media screen and (min-width: 720px) {
  /* line 17, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-student .wrap {
    height: 40vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 17, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-student .wrap {
    height: 90vh;
    padding-top: 5rem;
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 37, ../sass/modules/_m-home.scss */
.wrap-m-home .section-student .wrap .btn {
  margin: 1rem auto auto 2rem;
}
@media screen and (min-width: 960px) {
  /* line 37, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-student .wrap .btn {
    margin: -2rem auto auto 2rem;
  }
}
/* line 45, ../sass/modules/_m-home.scss */
.wrap-m-home .section-student .wrap .info-student {
  margin-top: 4rem;
  margin: 5rem auto;
}
/* line 50, ../sass/modules/_m-home.scss */
.wrap-m-home .section-student .wrap .img-student {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin: 3rem auto auto auto;
  display: block;
}
@media screen and (min-width: 960px) {
  /* line 50, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-student .wrap .img-student {
    margin-top: -2rem;
  }
}
/* line 67, ../sass/modules/_m-home.scss */
.wrap-m-home .section-about .wrap {
  height: 135vh;
}
@media screen and (min-width: 720px) {
  /* line 67, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-about .wrap {
    height: 40vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 67, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-about .wrap {
    height: 60vh;
    padding-top: 2rem;
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 86, ../sass/modules/_m-home.scss */
.wrap-m-home .section-about .wrap .btn {
  margin: 1rem auto auto 2rem;
}
/* line 89, ../sass/modules/_m-home.scss */
.wrap-m-home .section-about .wrap .info-about {
  margin-top: 4rem;
}
/* line 93, ../sass/modules/_m-home.scss */
.wrap-m-home .section-about .wrap .img-about {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin: 4rem auto auto auto;
  display: block;
}
@media screen and (min-width: 720px) {
  /* line 93, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-about .wrap .img-about {
    margin: 7rem auto auto auto;
  }
}
@media screen and (min-width: 960px) {
  /* line 93, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-about .wrap .img-about {
    margin: 3rem auto auto auto;
  }
}
/* line 113, ../sass/modules/_m-home.scss */
.wrap-m-home .section-services {
  height: 340vh;
}
@media screen and (min-width: 720px) {
  /* line 113, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-services {
    height: 90vh;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 960px) {
  /* line 113, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-services {
    height: 140vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 130, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-services .wrap {
    height: 80vh;
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 143, ../sass/modules/_m-home.scss */
.wrap-m-home .section-services .wrap .service {
  margin-top: 2rem;
}
/* line 146, ../sass/modules/_m-home.scss */
.wrap-m-home .section-services .wrap .service p {
  text-align: center;
}
/* line 150, ../sass/modules/_m-home.scss */
.wrap-m-home .section-services .wrap .service .title {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin-top: 2rem;
  color: black;
  font-weight: bolder;
  line-height: 2.5rem;
  margin-left: 2rem;
}
/* line 160, ../sass/modules/_m-home.scss */
.wrap-m-home .section-services .wrap .service .title p {
  text-align: center;
}
/* line 166, ../sass/modules/_m-home.scss */
.wrap-m-home .section-services .wrap .service .lnr {
  font-size: 2rem;
  width: auto;
  text-align: center;
  margin: 5rem auto 1rem auto;
}
/* line 178, ../sass/modules/_m-home.scss */
.wrap-m-home .section-stat {
  height: 100vh;
  background-image: linear-gradient(to right, #8490ff, #62bdfc);
  width: 100%;
}
@media screen and (min-width: 720px) {
  /* line 178, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat {
    height: 20vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 178, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat {
    height: 45vh;
  }
}
/* line 191, ../sass/modules/_m-home.scss */
.wrap-m-home .section-stat .wrap {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 720px) {
  /* line 191, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat .wrap {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 720px) {
  /* line 207, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat .wrap .stat {
    text-align: center;
    margin: 1rem 2rem auto 2rem;
  }
}
@media screen and (min-width: 960px) {
  /* line 207, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat .wrap .stat {
    margin-top: 3rem;
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 222, ../sass/modules/_m-home.scss */
.wrap-m-home .section-stat .wrap .stat .number-stat {
  font-size: 24px;
  line-height: 3rem;
  color: #fff;
  margin: 2rem auto -1rem auto;
  text-align: center;
  font-weight: bolder;
}
@media screen and (min-width: 720px) {
  /* line 222, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat .wrap .stat .number-stat {
    padding-bottom: 1rem;
  }
}
/* line 236, ../sass/modules/_m-home.scss */
.wrap-m-home .section-stat .wrap .stat .txt-stat {
  font-size: 20px;
  line-height: 3rem;
  color: #fff;
  margin: 0rem auto 1rem auto;
  text-align: center;
}
@media screen and (min-width: 720px) {
  /* line 236, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat .wrap .stat .txt-stat {
    line-height: 2rem;
    font-size: 16px;
  }
}
@media screen and (min-width: 720px) {
  /* line 236, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-stat .wrap .stat .txt-stat {
    line-height: 2rem;
    font-size: 20px;
  }
}
/* line 257, ../sass/modules/_m-home.scss */
.wrap-m-home .section-gallery {
  height: 440vh;
  margin-top: 3rem;
}
@media screen and (min-width: 720px) {
  /* line 257, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-gallery {
    height: 80vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 257, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-gallery {
    height: 190vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 269, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-gallery .wrap {
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
}
/* line 280, ../sass/modules/_m-home.scss */
.wrap-m-home .section-gallery .wrap img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
/* line 289, ../sass/modules/_m-home.scss */
.wrap-m-home .section-gallery .wrap .gallery {
  margin-bottom: 6rem;
}
/* line 293, ../sass/modules/_m-home.scss */
.wrap-m-home .section-gallery .wrap .gallery .title {
  margin-top: -0.5rem;
  text-align: center;
}
/* line 298, ../sass/modules/_m-home.scss */
.wrap-m-home .section-gallery .wrap .gallery p {
  text-align: center;
}
/* line 308, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog {
  background-color: #faf9ff;
  padding-top: 3rem;
}
/* line 313, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap {
  height: 305vh;
}
@media screen and (min-width: 720px) {
  /* line 313, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-blog .wrap {
    height: 60vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 313, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-blog .wrap {
    height: 120vh;
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 329, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap h1 {
  text-align: center;
  text-transform: none;
  font-size: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* line 338, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap p {
  text-align: center;
}
/* line 345, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .blog P {
  text-align: left;
}
/* line 349, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .blog .img-article {
  margin-top: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (min-width: 720px) {
  /* line 349, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-blog .wrap .blog .img-article {
    margin-left: 1rem;
    margin-right: 0;
  }
}
/* line 364, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .blog .info {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}
/* line 370, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .blog .info img {
  width: 2rem;
  height: 2rem;
  margin-left: 1.3rem;
  margin-top: 0.5rem;
}
@media screen and (min-width: 720px) {
  /* line 370, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-blog .wrap .blog .info img {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
}
/* line 382, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .blog .info .name-user {
  color: black;
  margin-left: 0.5rem;
  margin-right: 0;
  font-size: 14px;
}
@media screen and (min-width: 720px) {
  /* line 382, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-blog .wrap .blog .info .name-user {
    margin: 0rem;
    font-size: 12px;
    margin-left: 0.5rem;
    margin-top: 1rem;
    padding-right: 1rem;
  }
}
/* line 397, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .blog .info p {
  margin-left: 0.8rem;
  font-size: 12px;
}
@media screen and (min-width: 720px) {
  /* line 397, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-blog .wrap .blog .info p {
    margin: 0rem;
    font-size: 12px;
    margin-top: 1rem;
  }
}
/* line 410, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .blog .info span.lnr {
  padding-right: 1rem;
}
@media screen and (min-width: 720px) {
  /* line 410, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-blog .wrap .blog .info span.lnr {
    padding-right: 0rem;
    margin-left: 0.5rem;
  }
}
/* line 422, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap .title-art {
  margin-left: 1rem;
}
/* line 426, ../sass/modules/_m-home.scss */
.wrap-m-home .section-blog .wrap p {
  margin-left: 1rem;
}
/* line 433, ../sass/modules/_m-home.scss */
.wrap-m-home .section-slide {
  background-image: linear-gradient(to right, #8490ff, #62bdfc);
  height: 14rem;
}
@media screen and (min-width: 720px) {
  /* line 437, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-slide .wrap {
    height: 30vh;
    display: block;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (min-width: 960px) {
  /* line 437, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-slide .wrap {
    height: 80vh;
  }
}
/* line 455, ../sass/modules/_m-home.scss */
.wrap-m-home .section-slide .wrap .slide .smart {
  display: block;
  width: 45%;
  margin: auto;
  padding-top: 3rem;
}
@media screen and (min-width: 720px) {
  /* line 455, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-slide .wrap .slide .smart {
    width: 12%;
    display: inline-block;
  }
}
/* line 469, ../sass/modules/_m-home.scss */
.wrap-m-home .section-slide .wrap .slide .md-lg {
  display: none;
}
@media screen and (min-width: 720px) {
  /* line 469, ../sass/modules/_m-home.scss */
  .wrap-m-home .section-slide .wrap .slide .md-lg {
    display: inline-block;
    width: 12%;
    margin-top: 3rem;
    margin-left: 4rem;
  }
}

/* line 1, ../sass/modules/_m-about.scss */
.wrap-m-about {
  position: relative;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*#SECTION BANNER================== */
  /*#SECTION ABOUT================== */
  /*#SECTION PROGRESSBAR================== */
}
/* line 10, ../sass/modules/_m-about.scss */
.wrap-m-about .section-banner {
  height: 35vh;
  background-image: linear-gradient(to right, #8490ff, #62bdfc);
  width: 100%;
  margin-top: -1rem;
}
/* line 17, ../sass/modules/_m-about.scss */
.wrap-m-about .section-banner .banner {
  text-transform: none;
  color: #fff;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 3rem;
}
/* line 27, ../sass/modules/_m-about.scss */
.wrap-m-about .section-banner ul {
  text-align: center;
  font-size: 18px;
}
/* line 31, ../sass/modules/_m-about.scss */
.wrap-m-about .section-banner ul li {
  color: #fff;
  display: inline-block;
}
/* line 37, ../sass/modules/_m-about.scss */
.wrap-m-about .section-banner ul a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
/* line 43, ../sass/modules/_m-about.scss */
.wrap-m-about .section-banner ul a:hover {
  color: #62bdfc;
  font-weight: bolder;
}
/* line 49, ../sass/modules/_m-about.scss */
.wrap-m-about .section-banner ul .lnr {
  padding-right: 1rem;
  padding-left: 1.2rem;
}
/* line 70, ../sass/modules/_m-about.scss */
.wrap-m-about .section-about .wrap {
  height: 140vh;
}
@media screen and (min-width: 720px) {
  /* line 70, ../sass/modules/_m-about.scss */
  .wrap-m-about .section-about .wrap {
    height: 40vh;
  }
}
/* line 80, ../sass/modules/_m-about.scss */
.wrap-m-about .section-about .wrap .img-about {
  padding-top: 4rem;
}
@media screen and (min-width: 720px) {
  /* line 80, ../sass/modules/_m-about.scss */
  .wrap-m-about .section-about .wrap .img-about {
    margin: 7rem auto auto auto;
  }
}
@media screen and (min-width: 960px) {
  /* line 80, ../sass/modules/_m-about.scss */
  .wrap-m-about .section-about .wrap .img-about {
    margin: 3rem auto auto auto;
  }
}
/* line 92, ../sass/modules/_m-about.scss */
.wrap-m-about .section-about .wrap h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
}
/* line 98, ../sass/modules/_m-about.scss */
.wrap-m-about .section-about .wrap p {
  padding-top: 1rem;
}
/* line 102, ../sass/modules/_m-about.scss */
.wrap-m-about .section-about .wrap .btn {
  margin: 2rem auto auto 2rem;
}
@media screen and (min-width: 960px) {
  /* line 102, ../sass/modules/_m-about.scss */
  .wrap-m-about .section-about .wrap .btn {
    margin: -2rem auto auto 2rem;
  }
}
/* line 115, ../sass/modules/_m-about.scss */
.wrap-m-about .section-progressbar {
  height: 120vh;
}
@media screen and (min-width: 720px) {
  /* line 115, ../sass/modules/_m-about.scss */
  .wrap-m-about .section-progressbar {
    height: 90vh;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 960px) {
  /* line 115, ../sass/modules/_m-about.scss */
  .wrap-m-about .section-progressbar {
    height: 70vh;
  }
}
@media screen and (min-width: 960px) {
  /* line 129, ../sass/modules/_m-about.scss */
  .wrap-m-about .section-progressbar .wrap {
    height: 80vh;
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 138, ../sass/modules/_m-about.scss */
.wrap-m-about .section-progressbar .wrap .progress-bars {
  margin-right: 4rem;
}
/* line 141, ../sass/modules/_m-about.scss */
.wrap-m-about .section-progressbar .wrap .progress-bars h3 {
  margin-top: 2rem;
  text-transform: none;
  text-align: left;
}
/* line 149, ../sass/modules/_m-about.scss */
.wrap-m-about .section-progressbar .wrap .progress-bars p {
  text-align: right;
  margin: 0;
}
/* line 155, ../sass/modules/_m-about.scss */
.wrap-m-about .section-progressbar .wrap .progress-bars .progress-bar {
  position: relative;
  width: 100%;
  height: 0.3rem;
  background-color: #cfcfcf;
  border: 4px solid #cfcfcf;
  margin-left: 2rem;
  border-radius: 15px;
  padding-bottom: 1.5rem;
}
/* line 169, ../sass/modules/_m-about.scss */
.wrap-m-about .section-progressbar .wrap .progress-bars span[value] {
  width: 250px;
  height: 20px;
  position: absolute;
  background-color: #8490ff;
  background-image: linear-gradient(to right, #8490ff, #62bdfc);
  content: '';
  border-radius: 15px;
  height: 0.5rem;
  padding-bottom: 1.5rem;
}
