.wrap-m-about{
    position: relative;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    
/*#SECTION BANNER================== */
    .section-banner{
        height: 35vh;
        background-image: linear-gradient(to right, map-get($colors, bannerBg1), map-get($colors, bannerBg2));
        width: 100%;
        margin-top: -1rem;


        .banner{
            text-transform: none;
            color:map-get($colors, main);
            font-size: 50px;
            margin-left:auto;
            margin-right: auto;
            text-align: center;
            padding-top: 3rem;
        }
        
        ul{
            text-align: center;
            font-size: 18px;

            li{
                color:map-get($colors, main);
                display: inline-block;
                
                
            }
            a{
                color:map-get($colors, main);
                text-decoration: none;
                font-size: 18px;
                cursor: pointer;

                &:hover{
                    color: map-get($colors,bannerBg2);
                    font-weight: bolder;
                }
            }

            .lnr{
                padding-right: 1rem;
                padding-left: 1.2rem;
            }
        }

            
            
            
            @media screen and (min-width: map-get($breakpoint, md)) {

            }
            @media screen and (min-width: map-get($breakpoint, lg)) {
                
            }

    }

/*#SECTION ABOUT================== */
    .section-about{

        .wrap{
            height: 200vh;
            max-width: 1140px;
            
            @media screen and (min-width: map-get($breakpoint, md)) {
                height: 120vh; 
            }
            @media screen and (min-width: map-get($breakpoint, lg)) {
                margin-left: auto;
                margin-right: auto;
                
                
            }
        
            .img-about{
                padding-top: 4rem; 

                @media screen and (min-width: map-get($breakpoint, md)) {
                    margin:7rem auto auto auto;  
                }
                @media screen and (min-width: map-get($breakpoint, lg)) {
                    margin:3rem auto auto auto;  
                }

            }

            .content-about{
                @media screen and (min-width: map-get($breakpoint, md)) {
                    margin:6rem auto auto auto;
                }
                @media screen and (min-width: map-get($breakpoint, lg)) {
                    margin:8rem auto auto auto;
                }

            h3{
                text-transform: uppercase;
                text-align: left;
                font-size: 20px;
                font-weight: normal;
            }
            p{
                padding-top:1rem ;
                

            }
            .btn{ 
                margin:2rem auto auto 2rem;

                @media screen and (min-width: map-get($breakpoint, lg)) {
                    margin:2rem auto auto 2rem;
                }
            }

        }
        }
    }
    


/*#SECTION PROGRESSBAR================== */
.section-progressbar{
    max-width: 1140px;
    height: 60vh; 
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;


    @media screen and (min-width: map-get($breakpoint, md)) {
        height: 70vh; 
        padding-top: 4rem;
        
    }
    
    @media screen and (min-width: map-get($breakpoint, lg)) {
        height:70vh;
    
    }

        .wrap{

        @media screen and (min-width: map-get($breakpoint, lg)) {
            height:60vh;
        
        } 
        @media screen and (min-width: map-get($breakpoint, lg)) {
            height:80vh;
            
            display: block;
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
        } 
        .progress-bars{
            margin-right: 4rem;
            @media screen and (min-width: map-get($breakpoint, lg)) {
                margin-right: 2rem;
                margin-left: auto;
                margin-right: auto;
            }

            h3{
                margin-top: 2rem;
                text-transform: none;
                text-align: left;
                
                
            }

            p {
                text-align: right;
                margin-right: -2rem;
                font-size: 14px;

                @media screen and (min-width: map-get($breakpoint, md)) {
                    margin-right: 0.5rem;
                }

                @media screen and (min-width: map-get($breakpoint, lg)) {
                    margin-right: 2rem;
                }
            }

        
        .progress-bar{
            position: relative;
            width: 100%;
            background-color: rgb(207, 207, 207);
            border: 3px solid rgb(207, 207, 207);
            margin-left: 2rem;
            border-radius: 15px;
            padding-bottom: 0.5rem;
            
            @media screen and (min-width: map-get($breakpoint, md)) {
                width: 90%;
            }
        }
        span{

            position: absolute;
            background-color: map-get($colors,btn1);
            background-image: linear-gradient(to right, map-get($colors, btn1), map-get($colors, btn2));
            border-radius: 15px;
            height: 0.5rem;
            padding-bottom: 0.5rem;
        }

        


}

}

}

/*#SECTION FEEDBACK================== */
.section-feedback{
    @media screen and (min-width: map-get($breakpoint, lg)) {
        background-color:  map-get($colors ,bg-sect1);

    }

    .wrap{
        height:160vh;

        
        @media screen and (min-width: map-get($breakpoint, md)) {
            height:100vh;
        }
        @media screen and (min-width: map-get($breakpoint, lg)) {
            height:200vh;
            max-width: 1140px;

            display: block;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        .header-feedback{
            padding-top: 4rem;
            padding-bottom: 5rem;
            background-color:  map-get($colors ,bg-sect1);
            margin-bottom: 3rem;

            h2{
                text-transform: none;
                text-align: center;
                font-size: 30px;
                font-weight: bold;
            }

            p{
                text-align: center;

            }
        }

        .feedback{

            .client{
                @media screen and (min-width: map-get($breakpoint, lg)) {
                    background-color:  map-get($colors ,main);
                    max-width: 500px;
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                    margin-left: auto;
                    margin-right: auto;


                }

                .img-feedback{

                    width: 2rem;
                    margin-left: 2rem;
    
                    @media screen and (min-width: map-get($breakpoint, md)) {
                    }
                    @media screen and (min-width: map-get($breakpoint, lg)) {
                    }
    
                }

                p.txt{
                    margin-left: 5rem;
                    margin-top: -3rem;
                    
        
                }

                .name{
                    text-align: left;
                    margin-left: 5rem;
                    margin-top: 1rem;

                }

                .statut{
                    text-align: left;
                    margin-left: 5rem;
                    margin-bottom: 4rem;
                    margin-top: -1rem;

                }

            }
        }

    }
}

/*#SECTION SLIDE================== */
.section-slide-about{
    background-image: linear-gradient(to right, map-get($colors, btn1), map-get($colors, btn2));
    height: 18rem;

    .wrap{
        @media screen and (min-width: map-get($breakpoint, md)) {
            height: 30vh; 
            display: block;
            justify-content: space-between;
            width: 100%;
            margin: auto;
            text-align: center;
        }

        @media screen and (min-width: map-get($breakpoint, lg)) {
            
            height: 80vh;
            
        }

        .slide-about{
            
            border-top: solid 100px map-get($colors ,bg-sect1);

            img{
                margin: auto;
            }


            .smart{
                display: block;
                width: 9rem;
                margin: auto;
                padding-top: 3rem;
                


                @media screen and (min-width: map-get($breakpoint, md)) {
                    width: 5rem;
                    display: inline-block;
                }
            
            }
            .md-lg{
                display: none;
                
                
                @media screen and (min-width: map-get($breakpoint, md)) {
                    display: inline-block;
                    
                    width: 5rem;
                    margin-top:3rem ;
                    margin-left:4rem ;
                }
            }
            .home{
                margin-left: 0rem;
                margin-right: 4rem;
            }
        }

        }
    }


}