/* 
    Created on : 02-07-2020, 20:01:31
    Author     : Sylviana Vanmessen
*/
/* Make css mobile first */
/* Reset for better compatibility */
/* line 1, ../sass/base/_reset.scss */
html, body, div, span, h1, h2, p, a, strong, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table,
tbody, tfoot, thead, tr, th, td, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* Base */
/* mobile first css */
/* line 4, ../sass/base/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/base/_base.scss */
html {
  font-size: 100%;
}

/* line 15, ../sass/base/_base.scss */
body {
  background-color: white;
  margin: 0rem;
  padding: 0rem;
  width: auto;
  font-size: 20px;
}

/* line 23, ../sass/base/_base.scss */
main {
  margin: 0rem;
  padding: 0rem;
}

/* line 38, ../sass/base/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 43, ../sass/base/_base.scss */
p {
  font-size: 20px;
  line-height: 2rem;
}

/* layout */
/********************HEADER********************/
/* line 2, ../sass/layout/_l-layout.scss */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 4rem;
  background-color: #028a48;
  z-index: 999;
}
@media screen and (min-width: 1124px) {
  /* line 2, ../sass/layout/_l-layout.scss */
  .l-header {
    height: auto;
    width: 5rem;
    background-color: transparent;
    position: absolute;
  }
}
/* line 20, ../sass/layout/_l-layout.scss */
.l-header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
/* line 27, ../sass/layout/_l-layout.scss */
.l-header #menu-up {
  display: none;
}
@media screen and (min-width: 1124px) {
  /* line 27, ../sass/layout/_l-layout.scss */
  .l-header #menu-up {
    width: 100%;
    height: 5rem;
    background: #033752;
    background: linear-gradient(270deg, #033752 0%, rgba(4, 72, 106, 0.9388) 35%);
    display: block;
    position: fixed;
    margin-top: -6rem;
  }
}
/* line 42, ../sass/layout/_l-layout.scss */
.l-header .l-logo-lg {
  display: block;
  width: 2.5rem;
  margin: 1rem;
}
@media screen and (min-width: 1124px) {
  /* line 42, ../sass/layout/_l-layout.scss */
  .l-header .l-logo-lg {
    display: inline-block;
    margin: 1rem;
    width: 2.5rem;
  }
}
/* line 54, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger {
  z-index: 999;
  width: 2rem;
  height: 2rem;
  margin: -2.5rem 1rem 1rem 1rem;
  right: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  position: fixed;
}
/* line 67, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span {
  display: block;
  position: absolute;
  height: .15rem;
  width: 100%;
  background: white;
  border-radius: 0.15rem;
  opacity: 1;
  left: 0;
  z-index: 999;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 80, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(1) {
  top: 0;
}
/* line 84, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(2), .l-header #menu-hamburger span:nth-child(3) {
  top: .5rem;
}
/* line 88, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger span:nth-child(4) {
  top: 1rem;
}
/* line 93, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open {
  position: relative;
  z-index: 999;
  display: block;
  float: right;
}
@media screen and (min-width: 1124px) {
  /* line 93, ../sass/layout/_l-layout.scss */
  .l-header #menu-hamburger.is-open {
    display: none;
  }
}
/* line 102, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span {
  background: white;
}
/* line 105, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(1) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 111, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(2) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 115, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 119, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open span:nth-child(4) {
  top: 0rem;
  width: 0%;
  float: right;
}
/* line 126, ../sass/layout/_l-layout.scss */
.l-header #menu-hamburger.is-open:before {
  background: transparent;
}
@media screen and (min-width: 1124px) {
  /* line 54, ../sass/layout/_l-layout.scss */
  .l-header #menu-hamburger {
    display: none;
  }
}
/* line 136, ../sass/layout/_l-layout.scss */
.l-header .l-nav-main {
  text-align: right;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: none;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background: #028a48;
}
/* line 148, ../sass/layout/_l-layout.scss */
.l-header .l-nav-main.is-visible {
  right: 0;
  display: block;
  right: -100rem;
}
@media screen and (min-width: 1124px) {
  /* line 136, ../sass/layout/_l-layout.scss */
  .l-header .l-nav-main {
    background: none;
    width: auto;
    height: auto;
    display: block;
    position: relative;
    right: 0;
    background: transparent;
  }
}
/* line 165, ../sass/layout/_l-layout.scss */
.l-header .l-nav-main nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 174, ../sass/layout/_l-layout.scss */
.l-header .l-nav-main ul {
  margin-top: -1rem;
  padding-top: 4rem;
  text-align: center;
}
@media screen and (min-width: 740px) {
  /* line 174, ../sass/layout/_l-layout.scss */
  .l-header .l-nav-main ul {
    z-index: 999;
    padding: 1rem 1.2rem 1rem 2rem;
    width: 100%;
    text-align: right;
    position: fixed;
    margin-top: -5rem;
    display: inline-block;
    margin-left: -4rem;
  }
}
@media screen and (min-width: 1124px) {
  /* line 174, ../sass/layout/_l-layout.scss */
  .l-header .l-nav-main ul {
    z-index: 999;
    padding: 1rem 1.2rem 1rem 2rem;
    width: 100%;
    text-align: right;
    position: fixed;
    margin-top: -5rem;
    display: inline-block;
    margin-left: -8.5rem;
  }
}
/* line 203, ../sass/layout/_l-layout.scss */
.l-header .l-nav-main li {
  position: relative;
  display: block;
  margin-top: 3rem;
}
@media screen and (min-width: 1124px) {
  /* line 203, ../sass/layout/_l-layout.scss */
  .l-header .l-nav-main li {
    display: inline-block;
    margin: auto 0.8rem auto 2.5rem;
  }
  /* line 212, ../sass/layout/_l-layout.scss */
  .l-header .l-nav-main li:hover {
    transform: scale(0.9);
  }
}
/* line 220, ../sass/layout/_l-layout.scss */
.l-header .l-nav-main a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 25px;
}
@media screen and (min-width: 1124px) {
  /* line 220, ../sass/layout/_l-layout.scss */
  .l-header .l-nav-main a {
    color: white;
    padding: 0.2rem 0.5rem;
    margin: auto 1rem auto 1rem;
  }
  /* line 235, ../sass/layout/_l-layout.scss */
  .l-header .l-nav-main a:hover, .l-header .l-nav-main a.is-active {
    right: 0;
  }
}
@media screen and (min-width: 1124px) {
  /* line 251, ../sass/layout/_l-layout.scss */
  .l-header a.hover:hover:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 3px solid;
    border-left: 3px solid;
  }
  /* line 263, ../sass/layout/_l-layout.scss */
  .l-header a.hover:hover:after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 3px solid;
    border-right: 3px solid;
  }
}

/*modules*/
