
  #message-confirmation {

    color: map-get($colors , link); 
    margin-top: 2rem;
  }
 
      p.message{
        
        line-height: 1.7rem;
        color:black;
        margin-bottom: 5rem;
        text-align: justify;
        margin-left: 1rem;
        margin-right:1rem;
        margin-top: 2rem;
        
        
        input.checkbox {
          text-align: justify;
          margin-right: 1rem;
        }

      }


      .formulaire {
        width: 93%;
        height: auto;
        border-radius: 5px;
        margin-left: 1rem;
        margin-right: 0;
        padding: 1rem 0rem 0rem 0rem;
        margin: 2rem auto 4rem auto; 
        position: relative;
        
        
      input[type=text], input[type=tel], input[type=email] {
        display: inline-block;
        border: o;
        border-radius: 4px;
        background-color: white;
        font-size: 1rem;
        color: black;
        width: 100%;
        height: 3rem;
        box-sizing: border-box;
        margin-bottom: 2rem;
        text-align: left; 
        padding:5px;
      }
      
      input[placeholder=""] {
        background-color: antiquewhite; 
        
      }
      
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        margin-top: 8px;
        margin-bottom: 40px;
        padding: 12px;
        border-radius: 8px;
        resize: vertical, horizontal; 
      }
      #message-confirmation {
        font-size: 1rem;
        color: map-get($colors , link); 
        margin-top: 2rem;
        text-align: center;
      }
   
    
  

}


@media screen and (min-width: map-get($break-point, md)) {
  .formulaire {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    padding: 3rem 1rem 1rem 1rem;
    margin: 18rem 0rem 2rem 0rem; 
    position: relative;
    

  input[type=text], input[type=tel], input[type=email] {
    display: inline-block;
    border: o;
    border-radius: 4px;
    background-color: white;

    color: black;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    text-align: left; 
  }
  
  input[placeholder=""] {
    background-color: antiquewhite; }
  
  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin-top: 8px;
    margin-bottom: 40px;
    padding: 12px;
    border-radius: 8px;
    resize: vertical, horizontal; 
  }


}
    
  #message-confirmation {

    color: map-get($colors , link); 
    margin-top: 2rem;
    text-align: center;
    
  }
          

  #name{
    width: 97%;
  }
  #phone{
    width: 97%;
  }

}


@media screen and (min-width: map-get($break-point, lg)) {

  
.wrap-page-contact{
  
  height: auto;
  display: block;
  width: 1100px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top:8rem;
  margin-bottom: 0;
  border-radius: 7px;

  position: relative;



p.message {
  text-align: center;

  margin: 1rem 0 4rem 0;
}

      .formulaire {
        width: auto;
        height: auto;
        border-radius: 5px;
        margin-left: 0;
        margin-right: 0;
        padding: 3rem 0rem 1rem 0rem;
        margin: 2rem 1rem 2rem 1rem; 
        position: relative;
        

      input[type=text], input[type=tel], input[type=email] {
        display: inline-block;
        border: o;
        border-radius: 4px;
        background-color: white;

        color: black;
        width: 100%;
        height: 3rem;
        box-sizing: border-box;
        margin-bottom: 2rem;
        text-align: left; 
      }
      
      input[placeholder=""] {
        background-color: antiquewhite; 
      }
      
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        margin-top: 8px;
        margin-bottom: 40px;
        padding: 12px;
        border-radius: 8px;
        resize: vertical, horizontal; 
      }
      
    
  }
  #message-confirmation {

    color: map-get($colors , link); 
    margin-top: 2rem;
    z-index: 999;
    text-align: center;
  
  }
          

  #name{
    width: 97%;
  }
  #phone{
    width: 97%;
  }


}

}
